/*Fonts*/
@font-face {
    font-family: "os-bold";
    src: url('../fonts/os/OpenSans-Bold-webfont.woff');
}
@font-face {
    font-family: "r-reg";
    src: url('../fonts/roboto_regular_macroman/r.woff');
}
@font-face {
    font-family: "r-italic";
    src: url('../fonts/roboto_italic_macroman/i.woff');
}
@font-face {
    font-family: "r-bold";
    src: url('../fonts/roboto_boldcondensed_macroman/f.woff');
}
@font-face {
    font-family: "ral-bold";
    src: url('../fonts/raleway/Raleway-Bold.WOFF');
}
/*@import url('https://fonts.googleapis.com/family=Raleway:700');*/

/*@font-face {
    font-family: "r-medium";
    src: url('../fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff');
}
@font-face {
    font-family: "r-bold";
    src: url('../fonts/roboto_boldcondensed_macroman/f.woff');
}*/

body *{
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;

}
a:hover{
    text-decoration: none;
    color: #00b22d;
}
a {
    color: white;
}
.logo-image img {
    width: 100%;
}
.head-menu-con nav.navbar.navbar-inverse {
    background-color: white;
    border-color: white;
}

#myNavbar > .nav > li > a:hover{
    color: #00b22d;
}

#myNavbar > .nav > li > a {
    font-family: os-bold;
    color: #444444;
    font-size: 16px;
    text-transform: uppercase;
}

#myNavbar > .navbar-nav>.active>a {
    background-color: white;
    color: #444444;
    border-bottom: 4px solid #00b22d;
}
div#headerTopCon {
    margin-top: 50px;
}
.head-menu-con {
    margin-top: 15px;
}.grn-it {
    color: #00b22d;
}.who-are-head {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;

}.we-are-para p {
    font-size: 13px;
    color: #606060;
    font-family: r-reg;
}
.head-we-are {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
button.join-me-btn {
    font-family: Raleway;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #00b22d;
    outline: none;
    padding: 16px 27px 12px;
    border: none;
}
.we-are-para {
    margin: 22px 0 45px;
}
h2.who-are-head {
    margin: 100px 0 40px;
}
.italicize-it {
    font-family: r-italic;
}
.underline-it {
    text-decoration: underline;
}
span.strong{
    font-family: r-bold;

}.who-are-head.services-con-head {
    font-weight: 800;font-size: 50px;position: relative;
}
.service-btn a {
    border-radius: 40px;
    text-decoration: none !important;
    color: white;
    background-color: #00b22d;
    padding: 17px 70px;
    font-family: r-bold;
    margin: 70px 0 110px;
    font-size: 19px;
    display: inline-block;
}
.service-sub-head {
    margin: 35px 0 50px;
    color: #5f6366;
    font-size: 19px;
    font-family: r-reg;
}
section.bodyCon {
    background: url(../img/bg-line.jpg) repeat left center;
}
footer {
    background-color: #17191c;
    color: white;
    font-family: r-reg;
    font-size: 15px;
    line-height: 24px;
    padding-top: 50px;
}
h3.footer-heads {
    font-family: r-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}
p+h3.footer-heads {
    margin-top: 40px;
}
.fotter-col-2 {
    padding-right: 50px;
}
.footer-menu ul {
    display: inline-block;
    list-style: none;
}
.footer-menu li {
    display: inline-block;
    margin-right: 35px;
}
.footer-social a {
    width: 25px;
    display: inline-block;
    height: 25px;
    margin-right: 10px;
    background: url(../img/social-ftr-white.png) no-repeat left top;
}
a.li-ftr {
    width: 16px;
    height: 16px;
}
a.twi-ftr {
    background-position: -34px 0;
    width: 14px;
    height: 17px;
}
a.vee-ftr {
    background-position: -66px 0;
    width: 18px;
    height: 17px;
}
a.fb-ftr {
    background-position: -103px 0;
    width: 10px;
    height: 16px;
}
a.dots-ftr {
    background-position: -133px 0;
    width: 18px;
    height: 17px;
}

a.li-ftr:hover {
    background-image: url(../img/social-ftr-grn.png);
}
a.twi-ftr:hover{ background-image: url(../img/social-ftr-grn.png);  }
a.vee-ftr:hover{ background-image: url(../img/social-ftr-grn.png);  }
a.fb-ftr:hover{ background-image: url(../img/social-ftr-grn.png);  }
a.dots-ftr:hover{ background-image: url(../img/social-ftr-grn.png);  }



/*form*/
.subscription input[type="email"] {
    border: none;
    color: white;
    background-color: #444444;
    float: left;
    border-radius: 25px 0 0 25px;
    padding: 8px 0 8px 20px;
}
.subscription button {
    background-color: #444444;
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 7px 15px 9px 0;
}
/*Tabs*/
/*.service-gallery-tab > .row + .row {
    margin-top: 30px;
}*/
.service-gallery-tab .col-md-6,
.service-gallery-tab .col-md-3
{
    margin-top: 30px;
}
.ser-img-con img {
    width: 100%;
    height: auto;
}
.service-gallery-tab {
    padding: 0 5%;
}
h2.who-are-head.services-con-head:after {
    content: "";
    height: 4px;
    width: 40px;
    position: absolute;
    background-color: #00b22d;
    bottom: -17px;
    left: calc(50% - 17px);
}


/*Tabs*/
.service-gallery-tab .nav.nav-tabs {
    border: none;
}
.service-gallery-tab .nav-tabs>li > a{
    font-family: r-bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 25px;
    color: #2c3035;
    border: 2px solid transparent;
}
.service-gallery-tab .nav-tabs>li.active>a,
.service-gallery-tab .nav-tabs>li.active>a:focus,
.service-gallery-tab .nav-tabs>li.active>a:hover {
    color: #00b22d;
    cursor: default;
    background-color: transparent;
    border: 2px solid #00b22d;
    border-bottom-color: #00b22d;
    border-radius: 50px;
}
.sliderCon .flexslider {
    margin-bottom: 0;
    border: none;    overflow: hidden;
}
.sliderCon .slides > li {
    position: relative;
}
.slideCon {
    width: 50%;
    position: absolute;
    top: 215px;
    z-index: 99999999;
    left: 123px;
}
.slideHeadingOne h2 {
    color: #00b22d;
    text-transform: uppercase;
    font-size: 43px;
    letter-spacing: 6px;
    line-height: 55px;
    font-family: ral-bold;
    text-align: center;
}
a.regBtn:hover,
a.regBtn:focus,
a.loginBtn:hover, 
a.loginBtn:focus {
    background-color: transparent;
    border: 2px solid #00b22d;
    color: #00b22d; text-decoration: none;
}
a.loginBtn:hover, 
a.loginBtn:focus {
    color: #ffffff; background-color: #00b22d;
}
a.regBtn,
a.loginBtn {
    padding: 16px 10px;
    font-family: ral-bold;
    font-size: 22px;
    width: 252px;
    color: white;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 2px 7px #888888;
}
a.loginBtn{
    /*background-color: #ffffff;*/
    border: 2px solid black;
    color: black;
}
a.regBtn{
    background-color: #00b22d;
    border: 2px solid #00b22d;

}
.slideButtons {
    margin-top: 65px;    text-align: center;
}
.we-are-img-con img{max-width: 100%;}
.we-are-text-con {
    margin-top: 60px;
}
.we-are-para p {
    font-size: 14px;
    color: #606060;
    text-align: justify;
    font-family: r-reg;
    line-height: 30px;
}
img.sign-board {
    position: absolute;
    z-index: 9999999999999999999999;
    left: calc( 50% - -90px );
    width: 380px !important;
    bottom: -14px;
}