/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2016, 11:16:21 AM
    Author     : Mubeen Ali
*/

/******************************Fonts*****************************/

@font-face{font-family: Roboto;src: url('../fonts/roboto_regular.woff');font-weight: 400;}
@font-face{font-family: Roboto;src: url('../fonts/roboto_light.woff');font-weight: 300;}
@font-face{font-family: Roboto;src: url('../fonts/roboto_medium.woff');font-weight: 500;}
@font-face{font-family: Roboto;src: url('../fonts/roboto_bold.woff');font-weight: 700;}
@font-face{font-family: RobotoCondensed;src: url('../fonts/roboto_bold_condensed.woff');font-weight: 700;}

/******************************Genral*****************************/


body {
    margin: 0;
    padding: 0;
    font: 20px Roboto;
    color: #616161;
    /*background: url('../images/footer_bg.jpg') no-repeat center bottom 40px #f5f5f5;*/
    background: url('../images/footer_bg.jpg') no-repeat center bottom -50px;
}
img {
    border: none;
    max-width: 100%;
}
img:focus, a:focus {
    outline: none;
}
h1 {
    font: 40px Roboto;
    color: #616161;
    position: relative;
}
/*h1:after {
    content: "";
    background: #3f51b5;
    height: 2px;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
}*/
h2 {
    font: 50px Roboto;
    color: #fff;
}
h2.blue {
    color: #3f51b5;
}
h3 {
    font: 30px Roboto;
    color: #616161;
}
.pages_content h3 {
    margin: 40px 0 30px;
}
h4 {
    color: #000000;
    font-size: 30px;
    font-family: OpenSans-Semibold;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h5 {
    color: #000000;
    font-size: 20px;
    font-family: OpenSans-Regular;
    text-transform: uppercase;
}
p {
    font: 18px / 38px Roboto;
}
.container1003 {
    width: 1003px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.btn {
    font: 16px Roboto;
    color: #1e88e5;
    padding: 8px 50px 9px;
    border-radius: 6px;
    background: #f5f5f5;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.4);
}
.btn:active, .btn:focus, .btn:active:focus {
    outline: none;
}
.btn.btn_blue {
    font-size: 17px;
    color: #fff;
    background: #3f51b5;
    min-width: 112px;
    padding: 8px 10px 9px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    display: inline-block;
}
.btn.btn_blue.btn_light_blue {
    background: #1e88e5;
}
.btn + .btn {
    margin-left: 10px;
}

.table-row {
    display: table-row;
}
.table-row .table-cell {
    display: table-cell;
}

.checkbox_cont {

}
.checkbox_cont input {
    display: none;
}
.checkbox_cont input + label {
    font: 16px Roboto;
    color: #616161;
    position: relative;
    padding-left: 30px;
}
.checkbox_cont input + label:before {
    content: "";
    border: 1px solid #eaeaea;
    border-radius: 2px;
    position: absolute;
    left: 0;
    height: 19px;
    width: 19px;
    top: 1px;
}
.checkbox_cont input:checked + label:before {
    border-color: red;
}

.rating_stars_box {

}
.rating_stars_box i {
    color: #fff;
    font-size: 21px;
}
.rating_stars_box i.active {
    color: #fdd835;
}
i.rating_star {
    color: #75818b;
    font-size: 21px;
}
.rating_star.active {
    color: #fdd835;
}

/******************************Ajax loading overlay*****************************/

.ajax_loading_overlay {
    position: fixed;
    background: url('../images/logo_small.png') no-repeat center rgba(255, 255, 255, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
/******************************Range bar*****************************/


.price_range_cont {
    font-size: 16px;
}
.price_range_cont p {
    font-size: 16px;
}
.price_range_cont .range_min_max_figures_cont {
    margin-top: 10px;
}
.price_range_cont .price_range.ui-slider-horizontal .ui-slider-handle {
    border-radius: 200px;
    width: 26px;
    height: 26px;
    border: 5px solid #bbbbba;
    background: #fff;
    top: -10px;
}
.price_range_cont .price_range.ui-slider {
    height: 5px;
    background: #ffd32d;
}
.price_range_cont .price_range.ui-slider .ui-slider-range{
    height: 5px;
    background: #3f51b5;
}

/**************************Custom Bootstrap Dropdown**************************/

.custom_bottstrap_dropdown {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    padding: 2px 7px 3px 5px;
}
.custom_bottstrap_dropdown.dropdown-submenu {
    position: relative;
}
.custom_bottstrap_dropdown a:hover, .custom_bottstrap_dropdown a:focus {
    text-decoration: none;
}
.custom_bottstrap_dropdown a {
    display: block;
}
.custom_bottstrap_dropdown a i, .custom_bottstrap_dropdown a span {
    display: inline-block;
    vertical-align: middle;
}
.custom_bottstrap_dropdown a span {
    font-size: 16px;
}


/******************************Left Menu*****************************/

.search_result_autocomplete, .autocomplete_search_box {

}
.search_result_autocomplete.searching, .autocomplete_search_box.searching {
    background-image: url('../images/icon_drop.png');
    background-position: center right 28px;
    background-repeat: no-repeat;
}


/******************************Left Menu*****************************/

.pagination {
    float: right;
}
.pagination li {
    display: inline-block;
}
.pagination li + li {
    margin-left: 16px;
}
.pagination li a, .pagination li > span {
    background: #f4f4f4;
    border-radius: 4px;
    font: 500 16px Roboto;
    padding: 7px 15px
}
.pagination li a:hover, .pagination li.active span, .pagination li.active span:hover {
    background: #3f51b5;
    color: #fff;
}
.pagination li.disabled span {

}
.pagination li:first-child, .pagination li:last-child {
    font-size: 25px;
}
.pagination li a span {
    float: none;
}


/******************************Left Menu*****************************/

.invisible_layer_on_body {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1010;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.site_content {
    transform: translateX(0px);
    transition: 0.3s;
    position: relative
}
.left_menu_cont {
    position: fixed;
    left: -356px;
    min-height: 100vh;
    width: 356px;
    background: #fff;
    z-index: 10002;
    transition: 0.3s;
    height: 100vh;
}
.left_menu_cont > div {
    padding: 10px 20px;
}
.left_menu_cont > hr {
    margin: 20px 0;
}
.left_menu_cont ul.left_menu_links_ul {
    list-style: none;
    padding: 0 0;
}
.left_menu_cont ul.left_menu_links_ul li {
    /*border-bottom: 1px solid #74808a;*/
}
.left_menu_cont ul.left_menu_links_ul li a {
    color: #74808a;
    padding: 10px 20px 8px;
    display: block;
    transition: 0.3s;
    font-size: 16px;
}
.left_menu_cont ul.left_menu_links_ul li a:hover {
    background: #fdd835;
    text-decoration: none;
    color: #fff;
}
.left_menu_cont ul.left_menu_links_ul li a i {
    vertical-align: top;
    min-width: 24px;
    text-align: center;
    font-size: 22px;
}
.left_menu_cont ul.left_menu_links_ul li a i img {
    vertical-align: top;
    /*    margin-right: 9px;
        margin-top: 1px;*/
}
.left_menu_cont .left_menu_logo_box {
    text-align: center;
    margin: 25px 0 10px;
}
.left_menu_cont .left_menu_logo_box a:hover {
    text-decoration: none;
}
.left_menu_cont .left_menu_logo_box a h3 {
    margin: 0;
    color: #74808a;
}
.left_menu_cont .left_menu_user_box {

}
.left_menu_cont .left_menu_user_box .table-cell {
    vertical-align: middle;
}
.left_menu_cont .left_menu_user_box .table-cell + .table-cell {
    padding-left: 20px;
}
.left_menu_cont .left_menu_user_box .menu_user_img_cont {
    border-radius: 200px;
    overflow: hidden;
    height: 72px;
    width: 72px;
}
.left_menu_cont .left_menu_user_box .menu_user_img_cont img {
    width: 100%;
}
.left_menu_cont .left_menu_user_box .menu_user_name_cont {
    list-style: none;
    padding: 0;
}
.left_menu_cont .left_menu_user_box .menu_user_name_cont li {
    font-size: 16px;
    position: relative;
}
.left_menu_cont .left_menu_user_box .menu_user_name_cont li:first-child {
    font: 500 20px Roboto;
}
.left_menu_cont .left_menu_user_box .menu_user_name_cont li.has_dropdown {

}
.left_menu_cont .left_menu_user_box .menu_user_name_cont li.dropdown-submenu > a i {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #3f51b5;
    display: inline-block;
    margin-top: 8px;
    vertical-align: top;
} 
.left_menu_cont .left_menu_user_box .menu_user_name_cont li a {
    color: #3f51b5;
}
.left_menu_cont .left_menu_user_box .menu_user_name_cont li ul {

}
.left_menu_cont .left_menu_user_box .menu_user_name_cont li ul li a {
    font-size: 16px;
    color: #74808a;
}
.left_menu_cont .left_menu_privacy_links_cont {
    text-align: center;
}
.left_menu_cont .left_menu_privacy_links_cont .left_menu_privacy_links {
    margin-top: 38px;
}
.left_menu_cont .left_menu_privacy_links_cont .left_menu_privacy_links a {
    font-size: 14px;
    color: #74808a;
    padding: 0 10px;
}
.left_menu_cont .left_menu_privacy_links_cont .left_menu_privacy_links a + a {
    border-left: 1px solid #74808a;
}

.show_main_menu {
    overflow: hidden;
}
.show_main_menu .invisible_layer_on_body {
    opacity: 1;
    pointer-events: auto;
}
.show_main_menu .site_content {
    /*transform: translateX(50px);*/
}
.show_main_menu .left_menu_cont {
    left: 0;
    overflow: auto;
}
#search_resutl_selected_locations_cont {
    margin: 10px 0 0;
}
#search_resutl_selected_locations_cont + .sidebar_input_field_cont {
    margin-top: 10px;
}
#search_resutl_selected_locations_cont .sidebar_selected_location {
    background: #F8F8F8;
    border: 1px solid #eaeaea;
    font-size: 12px;
    padding: 2px 5px;
}
#search_resutl_selected_locations_cont .sidebar_selected_location +.sidebar_selected_location {
    margin-top: 5px;
}
#search_resutl_selected_locations_cont .sidebar_selected_location a {
    float: right;
}
#search_resutl_selected_locations_cont .sidebar_selected_location a i {
    font-size: 18px;
}


.left_sidebar h2 button .bootstrap_collapse_plus_icon {
    display: none;
}
.left_sidebar h2 button .bootstrap_collapse_minus_icon {
    display: block;
}
.left_sidebar h2 button.collapsed .bootstrap_collapse_minus_icon {
    display: none;
}
.left_sidebar h2 button.collapsed .bootstrap_collapse_plus_icon {
    display: block;
}

/******************************Header*****************************/
.site_banner {
    /*background: url('../images/banner.jpg') center top / auto 100%;*/
    /*padding-top: 10px;*/
    position: relative;
    padding-bottom: 92px;
    min-height: 95vh;
}
.site_header .fix_header {
    position: absolute;
    width: 100%;
    z-index: 1000;
    /*transition: 0.3s;*/
    /*background: url('../images/header-background.png') center bottom 200px repeat-x;*/
}
.site_header .fix_header.fixed_on_top {
    /*background-position: center bottom;*/
    background: url('../images/header-background.png') center bottom repeat-x;
    height: 136px;
    position: fixed;
    animation: 0.3s show_sticky_menu;
}
.site_header a {
    color: #fff;
}
.site_header .fix_header.fixed_on_top a {
    color: #616161;
}
.site_header .header_menu_cont {
    margin-top: 52px;
    transition: 0.3s;
}
.site_header .header_logo_cont {
    text-align: center;
    transition: 0.3s;
}
.site_header .header_logo_cont a {
    transition: 0.3s;
}
.site_header .header_logo_cont a:last-child {
    display: none;
    margin-top: 6px;
}
.site_header .header_btns_cont {
    text-align: right;
    margin-top: 46px;
    transition: 0.3s;
}
.site_header .header_btns_cont ul {
    padding-left: 0;
}
.site_header .header_btns_cont ul li {
    display: inline-block;
    padding: 0px 12px 0 10px;
    position: relative;
    vertical-align: middle;
}
.site_header .header_btns_cont ul li:nth-child(2) {
    border-right: 1px solid #fff;
    padding-top: 0px;
}
.site_header .header_btns_cont ul li:nth-child(2) i {
    font-size: 26px;
    margin-top: 1px;
}
.site_header .header_btns_cont ul li:last-child {
    border: none;
    padding-left: 0;
    margin-top: -5px;
}
.site_header .header_btns_cont ul li a {
    display: inline-block;
    vertical-align: middle;
}
.site_header .header_btns_cont ul li:first-child a {
    margin-top: 5px;
}

#brand_detail .first_step {
    min-width: 220px;
    background: #fdd835;
    float: left;
    margin-right: 32px;
    padding: 6px 23px ;
    border-radius: 7px;
    height: 48px;
    /*margin-right: 5px;*/
}
#brand_detail .second_step {
    min-width: 220px;
    background: #f8f8f8;
    float: left;
    margin-right: 32px;
    padding: 6px 23px ;
    border-radius: 7px;
    height: 48px;
    /*margin-right: 5px;*/
}
#person_contact .second_step{
    min-width: 220px;
    background: #fdd835;
    float: left;
    margin-right: 32px;
    padding: 6px 23px ;
    border-radius: 7px;
    height: 48px;
    /*margin-right: 5px;*/
}
#person_contact .first_step {
    min-width: 220px;
    background: #f8f8f8;
    float: left;
    margin-right: 32px;
    padding: 6px 23px ;
    border-radius: 7px;
    height: 48px;
    /*margin-right: 5px;*/
}
.input_class{
    height: 45px;
    margin-top: 32px;
    box-shadow: none !important;
    width: 100%;
    border: 1px solid #eaeaea;
    color: #616161;
    font-size:16px;

}
.brand_tab{
    border: none;
    padding: 0px;
    width: 50%!important
}

.brand_tab a {
    padding: 11px 150px;
    background: #1e88e5;
    width: 50%;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    color: white

}


#person_contact .brand_tab.cont{
    float: right;
    display: none
}
#brand_detail .brand_tab.cont{
    float: right;
    display: block;
}
#brand_detail .brand_tab.back{
    display: none;

}

/*.back a{
    background: #f8f8f8;
    color: #616161;
}*/

#person_contact .brand_tab.back{
    float: left;
    display: block;

}

#person_contact .brand_tab.sub{
    float: right;
    display: block;
    margin-top: 22px;
    padding-left: 25px;
}

#brand_detail .brand_tab.sub{
    /*float: right;*/
    display: none;
    /*margin-top: 16px;*/
}

.b_sub_btn{
    padding: 11px 171px;
    background: #1e88e5;
    width: 50%;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    color: white;
    border: none;
}

.input_file{
    height: 45px;
    margin-top: 32px;
    box-shadow: none !important;
    background: #1e88e5;
    color: white;
    padding: 10px 36px 0px 36px;
}
#brand_detail .first_step:after {
    /* display: none; */
    position: relative;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fdd835;
    bottom: -52px;
    left: 15%;
    margin-left: -7px;
}
#person_contact .second_step:after {
    /* display: none; */
    position: relative;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fdd835;
    bottom: -52px;
    left: 15%;
    margin-left: -7px;
}

#brand_detail .circleblue {
    height: 36px;
    width: 36px;
    background: #1e88e5;
    float: left;
    border-radius: 20px;
    padding: 5px;
    color: white;
    margin-right: 5px;
}
#brand_detail .circlegray {
    height: 36px;
    width: 36px;
    background: #616161;
    float: left;
    border-radius: 20px;
    padding: 5px;
    color: white;
    margin-right: 5px;
}
#person_contact .circlegray {
    height: 36px;
    width: 36px;
    background: #1e88e5;
    float: left;
    border-radius: 20px;
    padding: 5px;
    color: white;
    margin-right: 5px;
}
#person_contact .circleblue {
    height: 36px;
    width: 36px;
    background: #616161;
    float: left;
    border-radius: 20px;
    padding: 5px;
    color: white;
    margin-right: 5px;
}

.brand_tab_text {
    margin-top: 7px;
    float: right;

}

.site_header .header_btns_cont ul li .header_add_brand_box a {
    background: #fdd835;
    border-radius: 130px;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding-top: 3px;
    text-align: center;
    color: #1e88e5;
    text-decoration: none;
    margin-top: -11px;
}
.site_header .header_btns_cont ul li .header_add_brand_box a .material-icons {
    margin-right: -0.5px;
}
.site_header .header_btns_cont ul li select {
    color: #fff;
    background: transparent;
    font: 18px Roboto;
    border: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}
.site_header .header_btns_cont ul li select::-ms-expand {
    display: none;
}
.site_header .header_btns_cont ul li select option {
    color: #000;
}

.site_header .header_btns_cont ul li .bootstrap-select {
    width: 62px;
}
.site_header  .header_btns_cont ul li .bootstrap-select .btn {
    padding: 0 22px 0 0;
    display: inline-block;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    color: #fff;
}
.site_header .header_btns_cont ul li .bootstrap-select li {
    display: block;
    padding: 0;
}
.site_header .header_btns_cont ul li .bootstrap-select li a {
    display: block;
}
.site_header .fix_header.fixed_on_top .header_btns_cont ul li .bootstrap-select .btn {
    color: #616161;
}

.move_to_next_sec_arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    z-index: 1;
}
.move_to_next_sec_arrow a {
    color: #616161;
}
section#home_sec_3 {
    padding-top: 10px;
}
.move_to_next_sec_arrow a i {
    font-size: 40px;
}
.site_banner .move_to_next_sec_arrow a i {
    color: #fff;
}

section#home_sec_3 {
    /*margin-tsop: 10px;*/
}
.site_header .header_menu_cont > a {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.site_header .header_menu_cont > a:hover, .site_header .header_menu_cont > a:focus {
    text-decoration: none;
}
.site_header .header_menu_cont > a i {
    display: block;
    font-size: 34px;
}
.site_header .header_search_cont {
    display: none;
    margin-left: 5px;
    padding-left: 8px;
    border-left: 1px solid #616161;
    vertical-align: baseline;
    position: relative;
}
.site_header .header_search_cont:after {
    content: "search";
    font-family: "Material Icons";
    font-feature-settings: "liga";
    font-size: 24px;
    position: absolute;
    top: 3px;
    right: 6px;
}
.site_header .header_search_cont form {

}
.site_header .header_search_cont form input, .site_header .header_search_cont form button {
    border: none;
    background-color: transparent;
}
.site_header .header_search_cont form input {
    display: inline-block;
    border-radius: 4px;
    padding-right: 0;
    width: auto;
    position: relative;
    transition: width 0.3s;
    z-index: 1;
    max-width: 28px;
    font-size: 15px;
    height: 30px;
    color: transparent;
}
.site_header .header_search_cont form button {
    display: inline-block;
    right: 0;
    position: absolute;
    width: 40px;
    height: 100%;
    z-index: 1;
    display: none;
    top: 0;
}
.site_header .header_search_cont form input:focus {
    max-width: 600px;
    padding-right: 40px;
    border: 1px solid #959ea6;
    padding-left: 10px;
    color: #333;
}
.site_header .header_search_cont form input:focus + button {
    display: block;
}


.site_header .fix_header.fixed_on_top .header_menu_cont {
    margin-top: 23px;
}
.site_header .fix_header.fixed_on_top .header_logo_cont a:first-child {
    display: none;
}
.site_header .fix_header.fixed_on_top .header_logo_cont a:last-child {
    display: block;
}
.site_header .fix_header.fixed_on_top .header_btns_cont {
    margin-top: 20px;
}
.site_header .fix_header.fixed_on_top .header_btns_cont ul li + li  {
    border-color: #616161;
}
.site_header .fix_header.fixed_on_top .header_btns_cont ul li select {
    color: #616161;
}
.site_header .fix_header.fixed_on_top .header_search_cont {
    display: inline-block;
}

.header_login_popup {
    background: #1e88e5;
    width: 300px;
    padding: 10px 20px;
    position: absolute;
    right: -10px;
    border-radius: 8px;
    margin-top: 18px;
    display: none;
}
.header_login_popup:before {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #1e88e5;
    top: -15px;
    right: 20px;
}
.header_login_popup span {
    font-size: 17px;
    margin: 6px 0;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}
.header_login_popup span i {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #74808a;
}
.header_login_popup span input {
    width: 100%;
    background: #fff;
    border-radius: 8px;
    color: #74808a;
    font: 16px Roboto;
    padding: 8px 12px;
    border: none;
}
.header_login_popup span input[type="submit"] {
    background: #fdd835;
    color: #fff;
}
.site_header .fix_header.fixed_on_top .header_login_popup span a {
    text-decoration: underline;
    color: #fff;
}


.site_header .header_btns_cont ul li a.header_add_brand_btn {
    background: #fff;
    padding: 10px 20px;
    position: absolute;
    right: -56px;
    border-radius: 8px;
    margin-top: 18px;
    font: 16px Roboto;
    width: 180px;
    text-align: center;
    display: none;
    text-decoration: none;
    color: #1e88e5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.site_header .header_btns_cont ul li a.header_add_brand_btn:before {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    top: -15px;
    left: 50%;
    margin-left: -8px;
}
.site_header .header_btns_cont ul li a.header_add_brand_btn i {
    color: #fdd835;
    vertical-align: middle;
    margin-left: -8px;
    display: inline-block;
    margin-right: 5px;
}
/******************************Client Login Page*****************************/

.login_page_box {
    max-width: 300px;
    margin: 30px auto 50px;
}
.login_page_box .header_login_popup {
    position: static;
    display: block;
}
.login_page_box .header_login_popup:before {
    display: none;
}

/******************************Banner*****************************/

.site_banner:after {
    content: "";
    width: 100%;
    height: 52px;
    background: url('../images/curved_bottom_layer_3.png') center;
    position: absolute;
    bottom: 0;
}
.site_banner .banner_img_or_vid_cont {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    text-align: center;
    background: url('../images/banners/banner_1.jpg') center top / cover;
}
.site_banner .banner_img_or_vid_cont:before {
    content: "";
    /*background: url('../images/header_banner_layer.png') 0 0 / auto 100%;*/
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.site_banner .banner_img_or_vid_cont div {
    position: relative;
    width: 100%;
    height: 100%;
    background: orange;
    text-align: center;
}
.site_banner .banner_img_or_vid_cont img {
    min-width: 100%;
    min-height: 100%;
    max-width: inherit;
}
.top_banner_cont {
    text-align: center;
    margin-top: 180px;
    position: relative;
}
.top_banner_cont h1 {
    font: 700 76px RobotoCondensed;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.top_banner_cont h1:after {
    display: none;
}
.top_banner_cont h2 {
    font: 30px Roboto;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 11px;
    word-spacing: 2px;
}
.top_banner_cont p {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
}
.top_banner_cont .banner_search_and_detect_btn_cont {
    display: table;
    max-width: 970px;
    margin: 28px auto 0;
}
.top_banner_cont .banner_search_and_detect_btn_cont .detect_location_btn_cont, .top_banner_cont .banner_search_and_detect_btn_cont .banner_search_cont {
    display: table-cell;
    vertical-align: middle;
}
.top_banner_cont .banner_search_and_detect_btn_cont .detect_location_btn_cont {
    width: 60px;
    padding-right: 5px;
}
.top_banner_cont .banner_search_and_detect_btn_cont .detect_location_btn_cont a {
    background: #1e88e5;
    color: #fff;
    padding: 14px 15px 8px;
    border-radius: 8px;
    display: inline-block;
}
.top_banner_cont .banner_search_and_detect_btn_cont .banner_search_cont {
    width: 910px;
}
.top_banner_cont .banner_search_cont {
    max-width: 970px;
    /*margin: 28px auto 0;*/
    margin: 0 auto 0;
    border: 1px solid #fdd835;
    background: #fff;
    border-radius: 8px;
    /*overflow: hidden;*/
}
.top_banner_cont .banner_search_cont form {
    display: table-row;
}
.top_banner_cont .banner_search_cont form > div {
    display: table-cell;
    width: 250px;
    vertical-align: top;
}
.top_banner_cont .banner_search_cont form > div:nth-child(2) {
    width: 650px;
}
.top_banner_cont .banner_search_cont form > div:last-child {
    width: 120px;
    overflow: hidden;
}
.top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
    border-radius: 8px 0 0 8px;
    border-right: 1px solid #959ea6;
    box-shadow: 0 0 1px #959ea6;
    color: #74808a;
    position: relative;

}
.top_banner_cont .banner_search_cont form .banner_search_dropdown_cont > a {
    font-size: 18px;
    color: #74808a;
    text-decoration: none;
    height: 56px;
    display: block;
    text-align: left;
    padding: 14px 20px 0;
    width: 248px;
    max-width: 100%;
    /*    border-radius: 8px 0 0 8px;
        background: #fff;
        position: relative;
        z-index: 1001;*/
}
.top_banner_cont .banner_search_cont form .banner_search_dropdown_cont > a i {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #74808a;
    display: inline-block;
    margin-top: 8px;
    float: right;
}
.top_banner_cont .banner_search_cont form .banner_search_dropdown_cont ul.dropdown-menu {
    width: 100%;
    margin-top: 0px;
}
.top_banner_cont .banner_search_cont form .banner_search_dropdown_cont ul.dropdown-menu li a {
    font-size: 18px;
    color: #74808a;
    cursor: pointer;
    padding: 4px 10px;
}
.top_banner_cont .banner_search_cont form .banner_search_dropdown_cont ul.dropdown-menu li a span {
    height: 28px;
    width: 28px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}
.top_banner_cont .banner_search_cont form .banner_search_dropdown_cont ul.dropdown-menu li a span img {
    max-width: 100%;
    max-height: 100%;
}
.top_banner_cont .banner_search_cont input, .top_banner_cont .banner_search_cont button {
    width: 100%;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: 56px;
    font: 18px Roboto;
    border-radius: 0 7px 7px 0;
}
.top_banner_cont .banner_search_cont input {
    padding: 0 20px;
    color: #74808a;
}
.top_banner_cont .banner_search_cont button.search_submit_btn {
    background: transparent;
    border: none;
}
.top_banner_cont .banner_search_cont button.btn {
    padding: 0 20px;
    color: #74808a;
    border-right: 1px solid #959ea6;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 0 1px #959ea6;
}
.top_banner_cont .banner_search_cont button.search_submit_btn i {
    vertical-align: middle;
}
.top_banner_cont .banner_search_cont button.search_advance_filter_btn {
    background: #fdd835;
    color: #1e88e5;
    font: 500 20px Roboto;
}
.top_banner_cont .banner_water_types_cont {
    max-width: 800px;
    margin: 40px auto 0;
    text-align: left;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box {
    display: table-row;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box > div {
    display: table-cell;
    width: 118px;
    vertical-align: middle;
    padding: 0 5px;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box > div:last-child {
    width: 300px;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box > div h3 {
    color: #fff;
    font: 300 21px Roboto;
    margin: 0;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box > div p {
    color: #fff;
    font: 13px Roboto;
}

/******************************Content*****************************/

.home_sections_cont > section, .home_sections_cont > footer {
    /*min-height: 100vh;*/
    width: 100%;
    position: relative;

    /*background: center top / auto 100%;*/
}

/******************************Sec 2*****************************/

.home_sec_2 .move_to_next_sec_arrow, .home_sec_3 .move_to_next_sec_arrow {
    bottom: 35px;
}

.home_sec_2 {
    background: url('../images/sec_2_bg.jpg') center top / auto 100%;
    padding: 0px 0 32px;
    height: 100vh;
    margin-bottom: -35px;
    display: flex;
    align-items: center;
}
.home_sec_2:after {
    content: "";
    width: 100%;
    height: 52px;
    background: url('../images/curved_bottom_layer_2.png') center;
    position: absolute;
    bottom: 35px;
    left: 0;
}
.home_sec_2_content {
    margin-top: 20px;
}
.home_sec_2_content ul {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}
.home_sec_2_content ul li {
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.home_sec_2_content ul li:nth-child(3n + 1) {
    margin-left: 0;
}
.home_sec_2_content ul li a {
    height: 118px;
    width: 118px;
    background: #fff;
    border: 1px solid #a9b0b7;
    border-radius: 8px;
    color: #616161;
    font: 18px Roboto;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.home_sec_2_content ul li a:hover, .home_sec_2_content ul li a.active {
    color: #fff;
    text-decoration: none;
    background: #1e88e5;
}
.home_sec_2_content ul li a span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.home_sec_2_content ul li a span i {
    font-size: 50px;
}
.home_sec_2_content ul li a span img {
    margin: 0;
}
.home_uae_map_cont img {
    margin-top: 80px;
}
.home_sec_2_content h1 {
    font: 38px Roboto;
}

/******************************Sec 2*****************************/

.home_sec_3 {
    background: url('../images/sec_3_bg.jpg') center top / cover;
    padding: 0px 0 95px;
    height: 100vh;
    margin-bottom: -35px;
    display: flex;
    align-items: center;
}
.home_sec_3:after {
    content: "";
    width: 100%;
    height: 52px;
    background: url('../images/banner_bottom_layer.png') center;
    position: absolute;
    bottom: 35px;
    left: 0;
}

.home_suppliers_logos_cont {
    text-align: center;
    margin-top: 10px;
    max-width: 1000px;
    margin: 15px auto 0;
}
.home_suppliers_logos_cont .home_suppliers_logo_box {
    width: 164px;
    height: 72px;
    background: #fff;
    display: inline-block;
    margin: 4px 2px;
    border: 1px solid #74808a;
    vertical-align: top;
}
.home_suppliers_logos_cont .home_suppliers_logo_box .home_suppliers_logo_box_inner {
    width: 100%;
    height: 100%;
    background: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
}

.home_sec_3_btn_cont {
    text-align: center;
    margin-top: 25px;
}


/******************************Interactive Map*********************************/

.home_interactive_map_heading {
    position: absolute;
    margin-left: 20px;
    margin-top: 160px;
    font: 500 36px Roboto;
    color: #3f51b5;
}
#home_interactive_map {
    float: right;
    width: 465px;
    height: 400px;
    margin-top: 90px;
    max-width: 100%;
    margin-right: -10px
}
#home_interactive_map .amcharts-main-div .amcharts-chart-div > a {
    display: none !important;
}

/*.amcharts-balloon-div {
    background: #fff;
}*/

/**********************************Inner pages*********************************/

.pages_content {
    padding-bottom: 150px;
}

/******************************Footer*****************************/

.site_footer {
    /*background: url('../images/sec_4_bg_11.jpg') center top / auto 100%;*/
    /*padding: 45px 0 0;*/
    padding-bottom: 25px;
    position: relative;
}
#home_sec_4.site_footer:before {
    content: "";
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    position: absolute;
}
section.site_footer {
    padding: 4px 0 210px;
}

.how_works_steps_cont {
    text-align: center;
    margin-top: 42px;
}
.how_works_steps_cont .how_works_step_box {
    padding: 0 20px;
}
.how_works_steps_cont .how_works_step_box .image_cont {

}
.how_works_steps_cont .how_works_step_box .image_cont .image {
    height: 122px;
    width: 122px;
    display: inline-block;
    background: #fdd835;
    border-radius: 150px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
}
.how_works_steps_cont .how_works_step_box .image_cont .image i {
    font-size: 74px;
    margin-top: 24px;
    color: #fff;
}
.how_works_steps_cont .how_works_step_box .how_works_content h3 {
    font: 30px Roboto;
    color: #616161;
}
.how_works_steps_cont .how_works_step_box .how_works_content p {
    font: 16px/28px Roboto;
    color: #616161;
}

.footer_links_cont {
    margin: 45px 0 40px;
}
.footer_links_cont h3 {
    color: #616161;
    margin-bottom: 10px;
    font-size: 24px;
}
.footer_links_cont ul {
    padding: 0;
    list-style: none;
}
.footer_links_cont ul li {

}
.footer_links_cont ul li a {
    font: 14px Roboto;
    color: #616161;
}
.footer_links_cont p {
    font: 14px Roboto;
    color: #616161;
}

.footer_links_cont .footer_newletter_cont {
    border-radius: 6px;
    overflow: hidden;
    margin-top: 32px;
}
.footer_links_cont .footer_newletter_cont form {
    display: table-row;
}
.footer_links_cont .footer_newletter_cont div {
    display: table-cell;
    width: 700px;
    vertical-align: top;
}
.footer_links_cont .footer_newletter_cont div:last-child {
    width: 78px;
}
.footer_links_cont .footer_newletter_cont input, .footer_links_cont .footer_newletter_cont button {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    height: 36px;
    font: 14px Roboto;
}
.footer_links_cont .footer_newletter_cont input {
    padding: 0 7px;
    color: #74808a;
    background: #fff;
}
.footer_links_cont .footer_newletter_cont input:focus {
    outline: none;
}
.footer_links_cont .footer_newletter_cont button {
    background: #1e88e5;
    border: none;
    color: #fff;
}
.footer_links_cont .footer_newletter_cont button i {
    vertical-align: middle;
}

.footer_links_cont .botton_logo_cont img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s;
}
.footer_links_cont .botton_logo_cont img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


.footer_copy_rights_and_social_btns {
    background: #1e88e5;
    padding: 1px 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;
}
.footer_copy_rights_and_social_btns p {
    color: #fff;
    margin: 2px 00;
    font-size: 15px;
    line-height: 25px;
}
.footer_copy_rights_and_social_btns p a {
    color: #fff;
}
.footer_copy_rights_and_social_btns .footer_social_links {
    text-align: right;
}
.footer_copy_rights_and_social_btns .footer_social_links a + a {
    margin-left: 5px;
}
.footer_copy_rights_and_social_btns .footer_social_links a {
    display: inline-block;
    background: white;
    border-radius: 12px;
    width: 25px;
    height: 24px;
    font-size: 13px;
    text-align: center;
}
.footer_copy_rights_and_social_btns .footer_social_links a i {
    margin-top: 6px;
}
.footer_copy_rights_and_social_btns .footer_social_links a:hover {
    color: white;
}
.footer_copy_rights_and_social_btns .footer_social_links a:nth-child(1):hover {
    background: #3b5998;
}
.footer_copy_rights_and_social_btns .footer_social_links a:nth-child(2):hover {
    background: #4099ff;
}
.footer_copy_rights_and_social_btns .footer_social_links a:nth-child(3):hover {
    background: #0077B5;
}
.footer_copy_rights_and_social_btns .footer_social_links a:nth-child(4):hover {
    background: #ee802f;
}
.footer_copy_rights_and_social_btns .footer_social_links a:nth-child(5):hover {
    background: #dd4b39; 
}
.footer_copy_rights_and_social_btns .footer_social_links a:nth-child(6):hover {
    background: #E12A27;
}
.footer_copy_rights_and_social_btns .footer_social_links a:nth-child(7):hover {
    background: #e95950;
}
.fa-google-plus:before {
    margin-left: 2.5px;
}

/******************************Search company*****************************/
.company_stars{
    position:absolute;
    bottom: 20px;
    width: 100%;
}
/******************************search company*****************************/
/******************************company*****************************/

.error{

    border: 1px solid red !important;
}
.content_body {
    /*position: relative;*/
    /*overflow: hidden;*/
    /*width: 100px;*/
    /*height: 100px;*/ 
    /*border: 1px solid black;*/
}

#person_contact {
    /*position: absolute;*/
    /*margin-left: 10px;*/
    left: -800px;
    /*width: 100px;*/
    /*height: 100p;*/
    /*background: blue;*/
    -webkit-animation: slide 0.2s forwards;
    /*    -webkit-animation-delay: .4s;*/
    animation: slide 0.2s forwards;
    /*animation-delay: .4s;*/
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}






/****************************header social links*******************/

.company_social .footer_social_links a:hover {
    color: white;
}
.company_social .footer_social_links a:nth-child(1):hover {
    background: #3b5998;
}
.company_social .footer_social_links a:nth-child(2):hover {
    background: #4099ff;
}
.company_social .footer_social_links a:nth-child(3):hover {
    background: #0077B5;
}
.company_social .footer_social_links a:nth-child(4):hover {
    background: #dd4b39;
}
.company_social .footer_social_links a:nth-child(5):hover {
    background: #E12A27; 
}
.company_social .footer_social_links a:nth-child(6):hover {
    background: #e95950;
}
.company_social .footer_social_links a:nth-child(7):hover {
    background: #e95950;
}
.fa-google-plus:before {
    margin-left: 2.5px;
}



/****************************header social links*******************/
.companybanner{
    background: url(../images/banners/company_banner.png);
    height: 398px ;
    border-top-right-radius: 7px;
}
.company_social .footer_social_links a i:hover {
    color: white;
}
.social_ic img{
    height: 32px;
    width: 100%;
}
.col-md-5.text-right.company_social a {
    padding: 5px 5px;
    display: inline-block;
    background: white;
    border-radius: 23px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    margin: 0px 3.5px;
}


.available_heading{
    border-top: 1px solid #eaeaea; 
}  


.product_img.text-center {
    height: 168px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 256px !important;
    /* MARGIN: auto; */
}


.col-md-4.single-product:nth-child(3n+1){
    clear: left;
}

.company_social {
    margin-top: 95px;
}
.col-md-3.social_ic {
    width: auto;
    margin-top: 100px;
    padding: 0px 5px;
    float: right;
}
.companytile{
    color: #ffffff;
}
.companytile h3{
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0;
}
.col-md-8.company_info .product_content_company_rating.rating_stars_box {
    margin-bottom: 6px;
}
.company_info {
    margin-top: 35px;
}
.companybanner .company_logo_and_info{

    margin-top: 235px;
}

.long_desc {
    /* margin-top: 20px; */
    margin: 0px;
}
/*Style the list*/ 
.company_tabs ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    background-color: #f8f8f8;
}
.brands_body{
    margin-top: 21px !important;
}
/*Float the list items side by side*/ 
.company_tabs ul.tab li {float: left;}

/*Style the links inside the list items*/ 
.company_tabs ul.tab li a {
    position: relative;
    display: inline-block;
    color: #616161;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.col-md-12.overview-title h1 {
    color: #1e88e5;
    font-size: 30px;
    margin: 30px 0 8px;
}

.tabcontent h1{
    /*color: #1e88e5;*/
    font-size: 30px;
}
.tabcontent h3{
    /*color: #1e88e5;*/
    font-size: 20px;
}
.tabcontent p{
    /*color: #1e88e5;*/
    font-size: 15px;
    line-height: 22px;
}
/*.overview-desprtion p {
    font-size: 16px;
}*/

.company_tabs li.tab_child {
    border-left: 1px solid #e4e4e4;
}
/*Change background color of links on hover*/ 
.company_tabs ul.tab li a:hover {background-color: #ddd;}

/*Create an active tablink class*/ 
.company_tabs ul.tab li a.active {
    border-bottom: 2px solid #1e88e5;
    /*    position: absolute;
        content: "";
        border-left: 15px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #3f51b5;
        bottom: 0px;
        left: 50%;
        height:51px;
        margin-left: -7px;*/
    height: 51px;
}

.company_tabs ul.tab li a.active:after{
    /*display: none;*/
    position: absolute;
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1e88e5;
    bottom: 0px;
    left: 50%;
    margin-left: -7px;
}

.company-map {
    /*    border: 1px solid;*/
    margin-top: 40px;
    height: 200px ;
    width: 100%;

}
.company-detail{
    width: 100%;
}
/* Style the tab content */
.tabcontent {
    display: none;
    /*    padding: 6px 12px;*/
    /*border: 1px solid #ccc;*/
    border-top: none;
}

.col-md-12.company_tabs {
    padding: 0px;
}

.right_side_bar {
    background: #1e88e5;
    padding: 12px 0px 12px 21px;
    border-radius: 5px;
    color: #fff;
} 
.right-side .first_img{

    margin-top: 21px;
}
.right-side .notification_company{

    margin-top: 10px;
}

.col-md-4.similarproduct_img {
    margin-top: 5px;
    height: 88px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.col-md-4.col-xs-4.col-sm-4.similarproduct_com_img {
    margin-top: 5px;
    height: 88px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.similar {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    /*    padding: 19px 21px;*/
    margin: 21px 0px;
}
.similar_main {
    padding: 19px 21px;
    /* margin: 21px 0px; */
    /*border-bottom: 1px solid;*/
    margin: 0px;
}
.similar h1 {
    font-size: 20px;
    margin: 0px;
    color: #1e88e5;
}
.similar p {
    font-size: 15px;
    margin: 0px;
    line-height: 1.7;
}
a.right_side_bar.text-center {
    padding: 10px 90px;
    width: 100%;
    background: #f4f4f4;
    color: #616161;
    text-decoration: none;
}
.col-md-12.sidbarbtn {
    padding-right: 0px;
    padding-left: 0px;
}
.similar .product_item {
    border-bottom: 1px solid #eaeaea;
    /*margin-top: 20px;*/
}

.body-content {
    margin: 0px;
    padding: 0px;
}


.product_item:nth-child(5) {
    /*background: yellow;*/ 
    border: none;
    margin: 10px 0px;
    text-align: center;
}

.similar:before{
    display: none;
    position: absolute;
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1e88e5;
    bottom: 0px;
    left: 50%;
    margin-left: -7px;
}

.content_body h1{
    font-size: 30px;
    color:#1e88e5;
    margin: 35px 0px 20px;

}
.content_body p {
    font-size: 16px;
    line-height: 22px;
}
.triangle {
    top: 21px;
    left: 82%;
    position: relative;
    width: 0;
    border-bottom: solid 20px #eaeaea;
    border-right: solid 16px transparent;
    border-left: solid 16px transparent;
}
.triangle .empty {
    position: absolute;
    top: 5px;
    left: -21px;
    width: 0;
    border-bottom: solid 24px white;
    border-right: solid 22px transparent;
    border-left: solid 22px transparent;
}

.col-md-4.similarproduct_img img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    max-height: 85px;
}
span.new-price {
    color: #fc0000;
}

span.b {
    font-size: 18px;
    color: #616161;
    font-weight: 700;
    /* margin-right: 15px; */
    float: left;
    margin-top: 1px;
    margin-right: 0px;
}

p.postaladdress {
    padding-left: 25px;
}

tr.water-type {
    border-bottom: 0px !important;
    /* padding: 0px; */
}
.water-type td {
    padding: 9px 0px 0px 5px !important;
}
span.oldprice {
    text-decoration: line-through;
}

.col-md-12.quanty {
    padding: 10px 0px;
    border-bottom: 2px solid #eaeaea;
    font-size: 19px;
}

.overview-address h4 {
    font: 24px Roboto;
    color: #616161;
}
#available_at h3 {
    color: #1e88e5;
}
.overview-address.sub h4 {
    font: 24px Roboto;
    color: #616161;
    padding-left:30px ;
}

.adress.available_sub {
    border-left: 2px solid #eaeaea;
    padding-left: 30px;
}
.available_at {
    /*border-bottom: 2px solid #eaeaea;*/
}

.triangle_big_img {
    border-radius: 75px;
    background: #1e88e5;
    height: 110px;
    width: 110px;
}
/*.triangle_big_img img{
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
        
}*/


.triangle_big_img img {
    position: absolute;
    margin: auto;
    top: 12%;
    left: 0px;
    right: 110px;
}
.triangle_big_img:before{

    position: absolute;
    content: "";
    border-left: 51px solid transparent;
    border-right: 51px solid transparent;
    border-bottom: 91px solid #1e88e5;
    /* bottom: 0px; */
    left: 10%;
    top: -56px;
    margin-left: -6px;
}

div#reviews {
    margin-top: 48px;
}


.col-md-6.overview-address.available.text-left {
    /*border-bottom: 2px solid #eaeaea;*/
}


.product_img.text-center img {
    max-height: 160px;
}
.single-product tr {
    border-bottom: 1px solid #eaeaea;
    /* padding: 11px 0px !important; */
}
.single-product td {
    /*    border-bottom: 2px solid #eaeaea;*/
    padding: 9px 5px ; 
    font-size: 16px;
}
td.pro {
    padding: 9px 3px !important;
    /*min-width: 110px;*/
}
/******************************end company*****************************/
/***div#available_at***************************Product*****************************/

.single-product h3 {
    /*font-size: 24px;*/
    border-bottom: 1px solid #eaeaea;
    padding: 9px 0px;
    margin:0px;
}
/*.adress p {
    font-size: 16px;
}*/
.adress span.b img {
    max-width: 80%;
}

.companylogo {
    height: 147px;
    width: 147px;
    border-radius: 75px !important;
    padding: 20px;
    background: white;
    overflow: hidden    
}

.companylogo img {
    max-height: 147px;
    max-width: 100%;
    /*overflow: hidden;*/
    /*    border-radius: 70px;*/
}


/*hr{
    border: 2px solid !important ;
}*/
.overview-address h3 {
    font-size: 24px;
}
.col-md-4.single-product {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin: 9px;
    width: 32%;
    padding-left: 3px;
    margin-right: 1px !important;
    /*padding-right: 0px !important;*/
    padding: 0px 5px;
    /*max-height: 404px;*/
}
.single-product.btn.btn_blue{
    min-width: 110px !important;
}


.order-sec a.btn.btn_blue {
    background: #1e88e5;
    line-height: .5;
}
.pro a.btn.btn_blue {
    min-width: 94px;
    padding: 7px 6px 7px;
}
td.text-right.order-sec {
    padding: 11px 3px !important;
    /*background: #1sse88e5;*/
    /*min-width: 110px;*/

}
.order-sec  a.btn.btn_blue {
    padding: 7px 6px 7px;
    /*background: #1sse88e5;*/
    min-width: 94px;
    float: left;   

}


.col-md-12.product_title {
    padding: 0px;
    border-bottom: 2px solid #eaeaea;
}

.btn.btn_blue.pro{
    min-width: 103px;
}
.btn.btn_blue.pro1{
    min-width: 103px;
    background: #1e88e5
}


/******************************end Product*****************************/




/******************************about us*****************************/
/*h1.about_heading {

    margin-bottom: 32px;
}*/

.aboutUs .page_body {
    margin: 0px; 
    margin-bottom: 116px;
}
.aboutUs .inner_body{

    margin-top: 25px;
}
.aboutUs h2{
    color:#616161;
}

.facebook-like {
    border: 1px solid #eaeaea;
    text-align: center;
    /* background-color: white; */
    padding: 11px 8px;
    margin-top: 20px;
    border-radius: 10px;
}
.facebook-panel{
    margin-top: 21px;
}
.body-section{
    /*margin-top: 74px;*/

}

.product_title a:hover{
    text-decoration: none;

}

.body-section p{
    font-size: 16px;
    line-height: 22px;

}
.body-section h1{
    font-size: 30px;
    color: #1e88e5;

}
.body-section h3{
    font-size: 20px;


}
span.f {
    font-weight: bolder;
    font-size: 24px;
    margin-right: 22px;
}
/******************************about us*****************************/


/******************************Media Queries*****************************/
.site_banner.site_banner_inner {
    background: url('../images/banners/banner.jpg') center top;
    padding-bottom: 70px;
    min-height: inherit;
}
.site_banner.site_banner_inner .inner_top_banner_cont {
    /*margi*/
}

/******************************Category Page*****************************/

.inner_page_content_sec {
    padding-top: 108px;
    padding-bottom: 162px;
}
.inner_page_content_sec .breadcrumps ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.inner_page_content_sec .breadcrumps ul li {
    display: inline-block;
    color: #3f51b5;
    font-size: 16px;
    position: relative;
}
.inner_page_content_sec .breadcrumps ul li + li {
    margin-left: 2px;
    padding-left: 12px;
}
.inner_page_content_sec .breadcrumps ul li + li:before {
    content: ">";
    color: #616161;
    position: absolute;
    left: 0;
    top: 0;
}
.inner_page_content_sec .breadcrumps ul li a {
    color: #616161;
}


/**********************************Sidebar CSS*********************************/

.left_sidebar {

}
.left_sidebar h2 {
    font: 20px Roboto;
    color: #fff;
    background: #1e88e5;
    padding: 8px 12px 10px;
    border-radius: 8px;
}
.left_sidebar h2 a {
    float: right;
    color: #fff;
    font-size: 18px;
}
.left_sidebar h2 a:hover {
    text-decoration: none;
}
.left_sidebar h2 a i {
    color: #fdd835;
    vertical-align: middle;
    font-size: 28px;
    margin-left: 6px;
}
.left_sidebar h2 button {
    background-color: transparent;
    float: right;
    border-width: 0px;
}
.left_sidebar h2 button :focus {
    outline-style: none;
}
.left_sidebar .sidebar_content_box {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 10px 18px 10px;
    position: relative;
    margin-top: 22px;
}
.left_sidebar .sidebar_content_box:before {
    content: "";
    background: #fff;
    border-left: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    position: absolute;
    transform: rotate(46deg);
    top: -11px;
    right: 20px;
    height: 20px;
    width: 20px;
}
.left_sidebar .sidebar_content_box .side_bar_content_with_more_option {
    max-height: 200px;
    overflow: hidden;
    transition: 0.3s;
}
.left_sidebar .sidebar_content_box .side_bar_content_with_more_option.active {
    max-height: 6000px;
}
.left_sidebar .sidebar_content_box .sidebar_dropdonw_cont {
    margin: -10px -18px 10px;
}
.left_sidebar .sidebar_content_box .sidebar_dropdonw_cont .custom_select .btn {
    border-radius: 0;
    background: transparent;
    padding: 11px 18px 10px;
    border: none;
    box-shadow: none;
    color: #616161;
    border-bottom: 1px solid #eaeaea;
}
.left_sidebar .sidebar_content_box .sidebar_dropdonw_cont .custom_select .btn:focus, 
.left_sidebar .sidebar_content_box .sidebar_dropdonw_cont .custom_select .btn:active {
    outline: none;
}
.left_sidebar .sidebar_content_box .checkbox_cont label {
    margin: 0;
}
.left_sidebar .sidebar_content_box .sidebar_more_link_cont {
    padding-left: 30px;
}
.left_sidebar .sidebar_content_box .sidebar_more_link_cont a {
    font: 16px Roboto;
    color: #616161;
}
.left_sidebar .sidebar_content_box .sidebar_input_field_cont {

}
.left_sidebar .sidebar_content_box .sidebar_input_field_cont input {
    font: 16px Roboto;
    color: #616161;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    padding: 6px 10px;
}
.left_sidebar .sidebar_content_box .sidebar_input_field_cont button {
    position: absolute;
    right: 17px;
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 2px 2px 5px;
}
.left_sidebar .sidebar_content_box .sidebar_input_field_cont button i {
    vertical-align: middle;
    color: #3f51b5;
}
.left_sidebar .sidebar_content_box .rating_stars_box {
    margin-top: 5px;
}
.left_sidebar .sidebar_content_box .rating_stars_box span {
    display: inline-block;
    margin-left: 20px;
    font: 17px Roboto;
    color: #616161;
    vertical-align: top;
}
.sidebar_dropdonw_cont + .checkbox_cont, .checkbox_cont + .sidebar_more_link_cont, .sidebar_more_link_cont + .sidebar_input_field_cont, 
.checkbox_cont + .checkbox_cont, .checkbox_cont + .sidebar_input_field_cont {
    margin-top: 10px;
}
.left_sidebar .sidebar_content_box .empty_message_box {
    font-size: 14px;
}

.price_range_cont {
    font-size: 16px;
}
.price_range_cont p {
    font-size: 16px;
}
.price_range_cont .range_min_max_figures_cont {
    margin-top: 10px;
}
.ui-slider-horizontal .ui-slider-handle {
    border-radius: 200px;
    width: 26px;
    height: 26px;
}

/******************************Search Result*****************************/

.search_result_top_filter_cont {
    padding-top: 18px;
}

.product_box .brandp {
    padding: 8px 10px !important;
}

.search_result_top_filter_cont .search_result_top_filter_box {
    background: #f4f4f4;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
}
.search_result_top_filter_cont .search_result_top_filter_box .filter_input_group {
    display: inline-block;
}
.search_result_top_filter_cont .search_result_top_filter_box .filter_input_group .custom_bottstrap_dropdown span {
    font-size: 15px;
}
.search_result_top_filter_cont .search_result_top_filter_box .filter_input_group + .filter_input_group {
    margin-left: 10px;
}
.search_result_top_filter_cont .search_result_top_filter_box .filter_input_group span {
    display: inline-block;
    font: 17px Roboto;
    color: #616161;
}
.search_result_top_filter_cont .search_result_top_filter_box .filter_input_group span .custom_select {
    width: auto;
}
.search_result_top_filter_cont .search_result_top_filter_box .filter_input_group span .custom_select .btn {
    padding: 5px 32px 5px 10px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    background: #fff;
    outline: none !important;
}
.search_result_top_filter_cont .search_result_top_filter_box.search_result_top_result_type .filter_input_group span .custom_select .btn {
    border-color: #fff;
}
.search_result_top_filter_cont .search_result_top_filter_box .filter_input_group span .custom_select .btn span {
    font-size: 15px;
}
.search_result_top_filter_cont .search_result_top_result_type {
    background: #fdd835;
    border: none;
    margin-left: 10px;
}

.location_and_result_type_box {
    padding: 0 15px;
}
.search_result_top_filter_cont .search_result_top_result_type .filter_input_group span .custom_select {
    width: 135px;
}

.search_result_top_bottles_cont {

}
.search_result_top_bottles_cont ul {
    list-style: outside none none;
    margin-top: 20px;
    padding-left: 0;
}
.search_result_top_bottles_cont ul li {
    display: inline-block;
    vertical-align: top;
}
.search_result_top_bottles_cont ul li + li {
    margin-left: 8px;
}
.search_result_top_bottles_cont ul li input {
    display: none;
}
.search_result_top_bottles_cont ul li label {
    background: #fff;
    border: 1px solid #a9b0b7;
    border-radius: 8px;
    color: #616161;
    display: inline-block;
    font: 13px Roboto;
    height: 82px;;
    width: 82px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}
.search_result_top_bottles_cont ul li label:hover, .search_result_top_bottles_cont ul li input:checked + label {
    border: 3px solid #3f51b5;
}
.search_result_top_bottles_cont ul li label span {
    align-items: center;
    display: flex;
    height: 58px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.search_result_top_bottles_cont ul li label span img {
    height: 48px;
}



.product_list_cont {

}
.product_list_cont .product_box {
    border: 1px solid #a9b0b7;
    border-radius: 8px;
    padding: 8px 0;
    /*display: table;*/
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}
.product_list_cont .product_box.featured_products {
    background: #fff8e0;
}
.product_list_cont .product_box .product_img, .product_list_cont .product_box .product_content {
    display: table-cell;
}
.product_list_cont .product_box .product_img {
    width: 270px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.product_list_cont .product_box .product_content {
    width: 584px;
    font: 15px Roboto;
    color: #616161;
}
.product_list_cont .product_box .product_content .product_content_company_logo_and_rating {
    float: right;
    margin-right: 10px;
}
.product_list_cont .product_box .product_content .product_content_company_logo_and_rating .product_content_company_logo {
    height: 85px;
    width: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.product_list_cont .product_box .product_content .product_content_company_logo_and_rating .product_content_company_logo img {
    max-width: 100%;
    max-height: 100%;
}
.product_list_cont .product_box .product_content .product_content_company_logo_and_rating .product_content_company_rating {

}
.product_list_cont .product_box .product_content h2 {
    font: 30px Roboto;
    color: #616161;
    margin-top: 4px;
    margin-bottom: 0;
}
.brands_box {
    margin-left: 10px;
    margin-bottom: 20px;
}
.brands_box a h2 {
    font: 30px Roboto;
    color: #616161;
    margin-top: 4px;
    margin-bottom: 0;
}
.product_list_cont .product_box .product_content p {
    font: 17px Roboto;
    margin-bottom: 4px;
}
.product_list_cont .product_box .product_content p.product_phone_number {
    font-size: 18px;
}
.product_list_cont .product_box .product_content p.product_phone_number i {
    vertical-align: middle;
}
.product_list_cont .product_box .product_content table {
    width: 100%;
    margin-top: 18px;
}
.product_list_cont .product_box .product_content table tr {
    border-top: 1px solid #eaeaea;
}
.product_list_cont .product_box .product_content table tr td {
    padding: 5px 0;
    vertical-align: middle;
}
.product_list_cont .product_box .product_content table tr td:first-child {
    width: 40%;
}
.product_list_cont .product_box .product_content table tr td:last-child {
    width: 60%;
}
.product_list_cont .product_box .product_content .btn + .btn {
    padding: 8px 10px 3px;
}
.product_list_cont .product_box .product_content .btn i {
    display: inline-block;
}
.product_list_cont .product_box .product_content del + span {
    color: #ff4747;
    font: 700 20px Roboto;
}
.product_list_cont .product_box .offer_product {
    background: #fdd835;
    color: #3f51b5;
    font: 700 28px/26px Roboto;
    padding: 44px 41px 10px;
    position: absolute;
    text-align: center;
    transform: rotate(-45deg);
    width: 250px;
    top: -18px;
    left: -85px;
}
.product_list_cont .product_box .product_content .company_content_company_rating {
    background: #1e88e5;
    border-radius: 4px;
    color: #fff;
    float: right;
    padding: 4px 9px 5px;
    vertical-align: middle;
    margin-right: 10px;
}
.product_list_cont .product_box .product_content .company_content_company_rating i, 
.product_list_cont .product_box .product_content .company_content_company_rating span {
    vertical-align: middle;
    display: inline-block;
}
.product_list_cont .product_box .product_content .company_content_company_rating i {
    font-size: 16px;
    color: #fdd835;
}
.product_list_cont .product_box .product_content table.company_content_table tr td:first-child {
    width: 20%;
}
.product_list_cont .product_box .product_content table.company_content_table tr td:last-child {
    width: 80%;
}
.product_list_cont .product_box .product_content table.company_content_table tr td.company_products_row {
    vertical-align: bottom;
}
.product_list_cont .product_box .product_content table.company_content_table tr td.company_products_row img {
    max-height: 50px;
    vertical-align: bottom;
}
.product_list_cont .product_box .product_img img {
    max-height: 260px;
}
.product_list_cont .product_box.company_box .product_img img {
    max-height: 125px !important;
}

#brand_detail .second_step{
    display:block;
}
#brand_detail .first_step{
    display:block;
}
/******************************end company*****************************/
.single-product.related_product_box {
    margin-bottom: 25px;;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    /*padding-right: 0px !important;*/
    padding: 0px 5px;
    /*max-height: 404px;*/
}
/**********************************Product Details Page CSS*********************************/
.select_qty  {
    margin: 20px 0 45px 0;
}
input.select_number {
    width: 112px;
    padding: 8px 10px 9px;
    margin: 0 6px;
    border: 1px solid #eeeeee;
    border-radius: 7px;
    padding-left: 12px;
    padding-right: 7px;
    text-align: center;
}
.share_with_friends {
    width: 584px;
    padding: 5px 5px;
    display: inline-block;
    background: white;
    border-radius: 23px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    margin: 0px 3.5px;    
}
.share_with_friends a {
    padding: 5px 5px;
    display: inline-block;
    background: white;
    border-radius: 23px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    margin: 0px 3.5px;
}
div#product_details {
    border: none;
}
.col-md-6.rating .rating_stars_box i {
    color: grey;
}
.col-md-6.rating .rating_stars_box i.active {
    color: #fdd835;
}
.col-md-6.rating {
    margin-top: 38px;
}
.submit_review_form {
    border: 0px;
    color: #8e8e8e;
    background: transparent;
    width: 100%;
}
.col-md-6.input_class {
    text-align: center;
    border-radius: 5px;
    padding: 10px 0px 0px 0px;
    margin-bottom: 25px;
    border: 0px;
    width: 35%;
    background: #f4f4f4;
}
p#disclaimer {
    font-size: 14px;
}
.page_body.text-left table {
    width: 100%;
}
.page_body.text-left table tr td:first-child {
    width: 24%;
    padding: 10px 0px 10px 17px;
    border: 1px solid;
    border-color: #eeeeee;
}
.page_body.text-left table tr td:last-child {
    width: 100%;
    border: 1px solid;
    padding-left: 15px;
    border-color: #eeeeee;
}
div#share_with_friends {
    margin-top: 2px;
}
div#share_with_friends .footer_social_links a {
    display: inline-block;
    background: #566D7E;
    border-radius: 12px;
    width: 25px;
    padding: 5px 0;
    color: #fff;
    height: 24px;
    font-size: 13px;
    margin-left: 10px;
    text-align: center;
}
div#share_with_friends .footer_social_links a:hover {
    color: white;
}
div#share_with_friends .footer_social_links a:nth-child(1):hover {
    background: #3b5998;
}
div#share_with_friends .footer_social_links a:nth-child(2):hover {
    background: #4099ff;
}
div#share_with_friends .footer_social_links a:nth-child(3):hover {
    background: #0077B5;
}
div#share_with_friends .footer_social_links a:nth-child(4):hover {
    background: #ee802f;
}
div#share_with_friends .footer_social_links a:nth-child(5):hover {
    background: #dd4b39; 
}
div#share_with_friends .footer_social_links a:nth-child(6):hover {
    background: #E12A27;
}
div#share_with_friends .footer_social_links a:nth-child(7):hover {
    background: #e95950;
}
.product_list_cont .product_box .product_content table tr.socialy_conneted {
    border-top: none;
}
.product_list_cont .product_box .product_content table tr.socialy_conneted td:first-child {
    width: 25%;
}
div#product_detail_img {
    width: 38%;
}
/**********************************Static Pages CSS*********************************/
.inner_page_content_sec .breadcrumps {
    margin-bottom: 20px;
}
h1.static_pages_heading {
    font-size: 30px;
    color: #1e88e5;
    margin: 35px 0px 20px;
}
.heading_border{
    position: relative;
    margin: 20px 0 0 0;
}
.page_body {
    margin: 10px 0 50px;
}
/**********************************Contact US CSS*********************************/

.contact {
    padding-top: 108px;
    padding-bottom: 162px;
}
.contact .breadcrumps {
    margin-bottom: 20px;
}
.contact .breadcrumps ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.contact .breadcrumps ul li {
    display: inline-block;
    color: #3f51b5;
    font-size: 16px;
    position: relative;
}
.contact .breadcrumps ul li + li {
    margin-left: 2px;
    padding-left: 12px;
}
.contact .breadcrumps ul li + li:before {
    content: ">";
    color: #616161;
    position: absolute;
    left: 0;
    top: 0;
}
.contact .breadcrumps ul li a {
    color: #616161;
}
h1.contact_heading {
    font-size: 30px;
    color:  #1e88e5;
    margin: 46px 0px 20px;
}
.col-md-12.input_class.text-center.submit-btn.cont a {
    background: #1e88e5;
    padding: 8px 150px;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    color: #fff;
    width: 100%;
}
input.form-control {
    height: 45px;
}
.input-group {
    height: 45px;
    margin-top: 32px;
}
.col-md-12.input_class {
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.4) ! important;
    background: #1e88e5;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0px 0px 0px;
    margin-bottom: 25px;
    border: 0px;
}
.contact .text-left {
    padding: 0 20px;
}
.right_side_bar.text-left {
    padding: 12px 0px 12px 21px;
    margin-left: -5px;
    margin-right: -5px;
}
a.tablinks.active {
    color: white;
}
.submit_form {
    border: 0px;
    color: #fff;
    background: transparent;
    width: 100%;
}
.static_pages_companybanner img {
    border-radius: 7px;
}
input#phone {
    background: transparent;
    border: none;
    width: 39px;
}
select#country {
    border-radius: 4px;
    padding-left: 6px;
}
select#opration_city {
    border-radius: 4px;
}
.col-md-4.similarproduct_com_img img {
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 85px;
}
.custom_select .btn {
    box-shadow: none;
    color: #9d9d9d;
    padding: 9px 13px 10px;
    background: transparent;
    border-radius: 4px;
    width: 100%;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    border: none;
}
/******************************Media's Queries*****************************/

@media screen and (max-width: 1199px) {
    .search_result_top_bottles_cont ul li:first-child {
        margin-left: 7.5px;
    }
    .search_result_top_bottles_cont ul li {
        margin-top: 8px;
    }
    .search_result_top_filter_box.search_result_top_result_type.hidden-xs {
        margin-top: 15px;
        margin-left: 0;
    }
    .search_result_top_bottles_cont ul {
        margin-top: 8px;
        text-align: center;
        margin-right: 8px;
    }
    .search_result_top_filter_cont .search_result_top_result_type {
        margin-top: 12px;
    }    
}

@media screen and (max-width: 1024px) {
    .top_banner_cont h1 {
        font-size: 68px;
    }
    .home_sec_2_content ul li {
        margin-left: 5px;
        margin-bottom: 5px;
    }
    .home_sec_2 {
        padding-bottom: 70px;
    }
    .col-md-5.text-right.company_social a {
        margin: 0 1.5px;
    }
    .brand_tab a {
        padding: 11px 115px;
    }
    a.right_side_bar.text-center {
        padding: 10px 0px;
        display: inline-block;
    }
    .inner_page_content_sec .breadcrumps {
        /*margin-left: -15px;*/
    }
    .companylogo {
        width: 126px;
        height: 126px;
        margin-top: 23px;
        margin-left: -5px;
    }
    #person_contact .second_step {
        margin-bottom: 20px;
    }
    #person_contact .second_step:after {
        bottom: -52px;
    }
}
@media screen and (max-width: 991px) {
    .home_sec_2, .site_banner, .home_sec_3, .site_footer {
        height: auto;
    }
    .top_banner_cont h2 {
        font-size: 24px;
    }
    .top_banner_cont h1 {
        font-size: 52px;
    }
    .top_banner_cont .banner_search_cont input, .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont > a, 
    .top_banner_cont .banner_search_cont button {
        height: 50px;
    }
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont > a {
        padding-top: 12px;
        width: 100%;
    }
    .top_banner_cont .banner_search_cont form > div:last-child {
        width: 170px;
    }
    .home_sec_2 {
        padding-bottom: 96px;
    }
    .home_sec_2_content ul {
        text-align: center;
    }
    .home_sec_2_content ul li, .home_sec_2_content ul li:nth-child(3n + 1) {
        margin: 5px;
    }
    #home_interactive_map {
        margin-top: 0;
        margin-bottom: 40px;
        width: 100%;
    }
    .how_works_steps_cont .how_works_step_box {
        padding: 0 5px;
    }
    .how_works_steps_cont .how_works_step_box .how_works_content h3 {
        font-size: 24px;
    }
    .how_works_steps_cont .how_works_step_box .how_works_content p {
        font-size: 15px;
        line-height: 22px;
    }
    .footer_links_cont .botton_logo_cont {
        margin-top: 30px;
    }
    .footer_links_cont .botton_logo_cont img {
        width: 90px;
    }
    .home_interactive_map_heading {
        margin-top: 70px;
    }
    .company_social {
        margin-top: 19px;
        text-align: center;
    }
    .companybanner .company_logo_and_info {
        margin-top: 0;
    }
    .companylogo {
        margin: 0 auto;
        margin-top: 20px;
    }
    .company_info {
        text-align: center;
        margin-top: 24px;
    }
    .col-md-12.company_tabs {
        margin-left: 7px;
    }
    .col-md-8.left-side {
        margin: 5px;
    }
    .inner_page_content_sec {
        padding-top: 80px;
    }
    .custom_bottstrap_dropdown.dropdown-submenu a i {
        float: right;
        margin: 10px;
        margin-right: 0;
        border-top: 7px dashed;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }
    .custom_bottstrap_dropdown.dropdown-submenu a {
        padding: 10px;
        text-align: left;
        color: #74808a;
    }
    .custom_bottstrap_dropdown.dropdown-submenu ul.dropdown-menu li {
        margin-left: 20px;
    }
    .custom_bottstrap_dropdown.dropdown-submenu ul.dropdown-menu {
        min-width: 100%;
        margin: 0;
    }
    span.filter-option.pull-left {
        margin-top: 2px;
    }
    .col-md-4.similarproduct_img img {
        max-height: 100%;
    }
    .inner_page_content_sec .breadcrumps {
        margin-top: 50px;
    }
    .companytile h3 {
        margin-top: 5px;
    }
    .col-md-5.text-right.company_social a {
        margin: 0 3.5px;
    }
    .b_sub_btn {
        margin-left: 51px;
        padding: 11px 132px;
    }
    .col-md-4.similarproduct_com_img img {
        max-height: 100%;
    }    
    .companybanner{
        margin: 0 15px;
        height: 342px;
    }
    .search_result_top_filter_cont .search_result_top_result_type {
        width: 100%;
        margin-left: 0;
    }
    search_result_top_filter_cont {
        padding-top: 20px;
    }
    .search_result_top_filter_cont .search_result_top_filter_box {
        padding: 6.5px 10px;
    }
    .search_result_top_filter_cont .search_result_top_filter_box .filter_input_group {
        width: 100%;
    }
    .search_result_top_filter_cont .search_result_top_filter_box .filter_input_group span .custom_select .btn span:last-child {
        width: 2%;
    }
    .search_result_top_filter_cont .search_result_top_result_type .filter_input_group span .custom_select {
        width: 100%;
    }
    .search_result_top_filter_cont .search_result_top_filter_box .filter_input_group span{
        margin-left: 1.5%;
        width: 47%;
    }
    .left_sidebar h2 button:focus {
        outline: none;
    }
    .inner_page_content_sec .breadcrumps {
        margin-left: 5px;
    }
    input#full_name  {
        margin-top: 0px;
    }
    .aboutUs .page_body {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 888px) {
    .footer_copy_rights_and_social_btns {
        height: 58px;
    }
    .footer_copy_rights_and_social_btns p {
        margin: 0;
    }
    .footer_copy_rights_and_social_btns .footer_social_links {
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    .site_header .header_search_cont form input:focus{
        max-width: 190px;
    }
    section.site_banner {
        min-height: 55px;
    }
    .home_sec_3_content {
        padding-bottom: 14px;  	
    }
    .left_menu_cont {
        overflow: auto;
    }

    .home_sec_2_content h1 {
        text-align: center;
    }

    #brand_detail .first_step {
        margin-bottom: 20px;
    }
    #brand_detail .second_step {
        margin-bottom: 10px;
    }
    .content_body h1 {
        margin: 30px 0px 5px;
    }
    .aboutUs .page_body {
        margin-bottom: 40px;
    }
    .col-md-12.company_tabs {
        margin-left: 15px;
    }    
    .body-content {
        margin: 0 15px 35px;
    }
    .col-md-12.company_dropdown_menu.dropdown-submenu.custom_bottstrap_dropdown.hidden-lg.hidden-md {
        margin: 0 15px;
    }
    .footer_links_cont h3 {
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 767px) {
    body {
        background-position: center bottom 30px;
    }
    .footer_links_cont {
        margin-bottom: 24px;
    }
    .footer_links_cont div.col-xs-6 {
        padding-bottom: 10px;
    }
    .footer_links_cont div.col-xs-6:nth-child(even) {
        clear: left;
        padding: 0;
    }
    .footer_links_cont div.col-xs-6:nth-child(1), .footer_links_cont div.col-xs-6:nth-child(2) {
        border-bottom: 1px solid #74808a;
        height: 190px;
        margin-top: 2px;
    }
    .header_login_popup {
        background : transparent;
        position: fixed;
        padding: 10px 100px;
        width: auto;
    }
    .modal-content{
        background: #3f51b5;
    }
    .modal-body span a{
        text-decoration: underline;
        color: white;
    }
    .site_header .header_btns_cont ul li{
        padding: 0px;
    }
    .left_menu_cont > div{
        padding: 10px 100px;
    }
    .site_header .header_search_cont {
        border-left: none;
        border-right: 1px solid #616161;
    }
    .left_menu_cont .left_menu_privacy_links_cont {
        padding: 10px 0;
    }
    .site_header .header_search_cont form input:focus {
        max-width: 150px;
        padding-right: 28px;
        padding-left: 5px;
        margin-right: 5px;
    }
    .site_header .header_menu_cont > a i {
        font-size: 28px;
    }
    .left_menu_cont .left_menu_privacy_links_cont .left_menu_privacy_links {
        margin-top: 28px;
    }
    .site_header .fix_header.fixed_on_top .header_search_cont form {
        background: #F8F8F8;
    }
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
        box-shadow: none;
    }
    .left_menu_cont {
        overflow: auto;
    }
    #home_interactive_map {
        float: none;
        margin-right: 0;
        margin-bottom: 70px;
    }
    .home_sec_2 {
        padding-bottom: 35px;
    }
    .how_works_steps_cont {
        margin-bottom: -70px;
    }
    .companybanner .company_logo_and_info {
        margin-top: 0;
    }
    .companylogo {
        margin: 0 auto;
        margin-top: 15px;
    }
    .company_info {
        text-align: center;
    }
    .col-md-12.company_tabs {
        margin-left: 7px;
    }
    .col-md-8.left-side {
        margin: 0px;
    }
    .inner_page_content_sec {
        padding-top: 15px;
    }
    .custom_bottstrap_dropdown.dropdown-submenu ul.dropdown-menu {
        min-width: 100%;
    }
    span.filter-option.pull-left {
        margin-top: 2px;
    }
    .right_side_bar.text-left {
        padding: 12px 0px 12px 21px;
    }
    a.right_side_bar.text-center {
        padding: 10px 0px;
        display: inline-block;
    }
    .site_header .fix_header.fixed_on_top .header_btns_cont {
        margin-top: 8px;
        margin-right: -15px;    
    }
    .site_header .fix_header.fixed_on_top .header_menu_cont {
        margin-top: 8px;
    }
    .site_header .fix_header.fixed_on_top {
        height: 105px;
    }
    .brand_tab a {
        padding: 11px 132px;
    }
    .contact .text-left {
        padding: 0 14px;
    }
    .site_header .fix_header.fixed_on_top {
        height: 75px;
        background-size: 924px;
        background-position: center top;
    }
    .site_banner:after {
        height: 24px;
        background-size: 939px;
    }
    .move_to_next_sec_arrow a i {
        font-size: 30px;
        margin-left: 5px;
    }
    .home_sec_2:after {
        height: 24px;
        background-size: 939px;
    }
    .home_sec_3:after {
        height: 24px;
        background-size: 939px;
    }
    .header_logo_cont a:last-child img {
        max-width: 41%;
    }
    .left_menu_cont .left_menu_logo_box a h3 {
        font: 27px Roboto;
    }
    div#brand_detail {
        padding: 20px 0;
    }
    div#person_contact {
        padding: 20px 0;
    }
    .aboutUs .page_body {
        margin-bottom: 35px;
    }
    .page_body {
        margin: 10px 0 25px;
    }
    div#service_location {
        margin-bottom: 20px;
    }
    .col-md-4.similarproduct_img {
        /*margin-right: 5px;*/
    }
    .bootstrap-select.btn-group .dropdown-menu {
        /*margin-left: -8px;*/
    }
    .site_header .header_menu_cont {
        margin-top: 8px;
    }
    .site_header .header_btns_cont {
        margin-top: 12px;
    }
    .site_header .header_logo_cont a:first-child {
        width: 74px;
    }
    .col-md-4.single-product {
        width: 34%;
    }
    footer.site_footer {
        max-width: 535px;
        margin: 0 auto;
    }
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont > a i {
        margin-right: -10px;
    }
    #person_contact .brand_tab.sub {
        padding-left: 0;
    }
    .b_sub_btn {
        padding: 11px 111px;
        margin-left: 0;
    }
    .hidden-sm.hidden-lg.hidden-md.product {
        margin: 0 10px;
    }
    .product_responsive_box {
        margin-left: 10px;
    }
    .search_result_top_filter_cont .search_result_top_result_type {
        margin-left: 0;
    }
    .company_stars {
        top: 50px;
        margin-left: 0;
    }
    .footer_links_cont .footer_newletter_cont {
        margin-top: 0;
    }
    .hidden-sm.hidden-lg.hidden-md.product_box_content {
        margin-left: 5px;
    }
    .product_list_cont .product_box .product_content {
        width: 714px;
        padding: 0 5px;
    }
    .inner_page_content_sec .breadcrumps {
        margin-left: 0;
    }
    input#full_name {
        margin-top: 15px;
    }
    .product_list_cont .product_box .product_content .product_content_company_logo_and_rating {
        margin-right: 0;
    }
}
@media screen and (max-width: 700px) {

}
@media screen and (max-width: 690px) {
    body {
        background-position: center bottom 55px;
    }
    .top_banner_cont h2 {
        font-size: 20px;
    }
    .top_banner_cont h1 {
        font-size: 36px;
    }
    .top_banner_cont .banner_search_and_detect_btn_cont {
        display: block;
    }
    .top_banner_cont .banner_search_and_detect_btn_cont .detect_location_btn_cont, 
    .top_banner_cont .banner_search_and_detect_btn_cont .banner_search_cont {
        display: block;
    }.top_banner_cont .banner_search_and_detect_btn_cont .banner_search_cont {
        background: transparent;
        border: none;
        max-width: 100%;
    }
    .top_banner_cont .banner_search_and_detect_btn_cont .detect_location_btn_cont {

    }
    .top_banner_cont .banner_search_cont form {
        display: block;
    }
    .top_banner_cont .banner_search_cont form > div {
        display: inline-block;
        max-width: 100%;
    }
    .top_banner_cont .banner_search_cont form > div:first-child {
        margin-top: -50px;
        width: 90.65%;
        float: right;
    }
    .top_banner_cont .banner_search_cont form > div:nth-child(2), .top_banner_cont .banner_search_cont form > div:last-child {
        margin-top: 10px;
    }
    .top_banner_cont .banner_search_cont form > div:nth-child(2) {
        width: 68%;
    }
    .top_banner_cont .banner_search_cont form > div:last-child {
        width: 30%;
        margin-left: 2px;
    }
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont > a {
        background: #fff;
    }
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
        border-right: none;
        margin-left: 2px;
        padding-right: 4px;
        width: 100%;
        float: right;
    }
    .top_banner_cont .banner_search_cont form > div:nth-child(2), .top_banner_cont .banner_search_cont form > div:first-child {

    }
    .top_banner_cont .banner_search_cont input  {
        background: #fff;
        border-radius: 8px;
    }
    .top_banner_cont .banner_search_cont input, .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont > a, 
    .top_banner_cont .banner_search_cont button {
        border-radius: 8px;
    }
    .footer_links_cont {
        margin-bottom: 44px;
    }
    .footer_copy_rights_and_social_btns {
        height: 68px;
    }
    .footer_copy_rights_and_social_btns .col-xs-6, .footer_copy_rights_and_social_btns .col-xs-12 {
        width: 100%;
    }
    .footer_copy_rights_and_social_btns p {
        text-align: center;
        line-height: 17px;
    }
    .brand_tab a {
        padding: 11px 93px;
    }
    .header_logo_cont a:last-child img {
        max-width: 44%;
    }
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont > a i {
        margin-right: 0px;
    }
}
@media screen and (max-width: 667px) {
    .top_banner_cont .banner_search_cont form > div:first-child {
        width: 90.5%;
    }
}
@media screen and (max-width: 665px) {
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
        width: 99%;
    }
}
@media screen and (max-width: 640px) {
    .site_header .header_search_cont form input:focus {
        max-width: 139px;
    }
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
        width: 99%;
    }
    .header_logo_cont a:last-child img {
        max-width: 48%;
    }
}
@media screen and (max-width: 600px) {
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
        width: 98%;
    }
    .header_logo_cont a:last-child img {
        max-width: 55%;
    }
}
@media screen and (max-width: 568px) {
    .site_header .header_search_cont form input:focus {
        max-width: 109px;
    }
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
        width: 97.5%;
    }
    .header_logo_cont a:last-child img {
        max-width: 61%;
    }
}
@media screen and (max-width: 535px) {
    #brand_detail .second_step{
        display: none;
    }
    #person_contact .first_step {
        display: none;
    }
    #brand_detail .first_step{
        display:block;
        min-width: 100%;
        padding: 6px 30px;
    }
    #person_contact .second_step{
        display:block;
        min-width: 100%;
        padding: 6px 30px;
    }
    #person_contact .second_step:after {
        margin-bottom: -11px;
    }
    .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
        width: 96.5%;
    }
    .header_logo_cont a:last-child img {
        max-width: 63%;
    }
    @media screen and (max-width: 500px) {
        .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
            width: 96%;
        }
        .header_logo_cont a:last-child img {
            max-width: 70%;
        }
    }
    @media screen and (max-width: 480px) {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 35px;
        }
        .footer_links_cont .footer_newletter_cont {
            margin-top: 0;
            margin-bottom: 20px;
        }
        .site_header .header_btns_cont ul li a i {
            font-size: 20px;
        }
        .site_header .header_btns_cont ul li .header_add_brand_box a {
            width: 24px;
            height: 24px;
        }
        .site_header .header_btns_cont ul li .header_add_brand_box a i {
            margin-top: -1px;
            display: block;
        }
        .site_header .header_logo_cont a:first-child {
            margin: 0 -18px;
            display: inline-block;
        }
        .site_header .fix_header.fixed_on_top {
            height: 100px;
        }
        .home_interactive_map_heading {
            margin-top: 30px;
        }
        .site_header .fix_header.fixed_on_top .header_search_cont {
            margin-right: -10px;
            z-index: 1;
            padding-left: 0px;
            margin-left: 0px;
        }
        .left_menu_cont > div{
            padding: 10px 65px;
        }
        .inner_page_content_sec .breadcrumps {
            margin-top: 70px;
        }
        #home_interactive_map {
            margin-top: 0;
            margin-bottom: 40px;
        }
        .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
            width: 95%;
        }
        .header_logo_cont a:last-child img {
            max-width: 75%;
        }
    }
    @media screen and (max-width: 475px) {
        .header_logo_cont a:last-child img {
            max-width: 79%;
        }
    }
    @media screen and (max-width: 450px) {
        .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
            width: 93%;
        }
        .header_logo_cont a:last-child img {
            max-width: 82%;
        }
    }
    @media screen and (max-width: 435px) {
        .header_logo_cont a:last-child img {
            max-width: 87%;
        }
    }
    @media screen and (max-width: 414px) {
        body {
            background-position: center bottom 40px;
        }
        .left_menu_cont {
            width: 310px;
        }
        .site_header .fix_header .row > .col-md-4:first-child {
            width: 30%;
        }
        .site_header .fix_header .row > .col-md-4:last-child  {
            width: 70%;
        }
        .site_header .fix_header .row > .col-md-4:nth-child(2) {
            width: 100%;
            position: absolute;
            margin-top: 2px;
        }
        .site_header .fix_header.fixed_on_top .header_search_cont {
            margin-right: -35px;
            z-index: 1;
        }
        .site_header .fix_header.fixed_on_top {
            height: 85px;
            background-size: 970px;
            background-position: center top;
        }
        .site_header .fix_header.fixed_on_top .row > .col-md-4:nth-child(2) {
            margin-top: -4px;
        }
        .site_header .fix_header.fixed_on_top .header_logo_cont a:last-child img {
            height: 63px;
        }
        .site_header .header_logo_cont a:last-child{
            margin-top: 5px;
        }
        .top_banner_cont h2 {
            letter-spacing: inherit;
            font-size: 18px;
            margin: 0;
        }
        .top_banner_cont h1 {
            font-size: 28px;
        }
        .top_banner_cont .banner_search_and_detect_btn_cont {
            margin-top: 5px;
        }
        .top_banner_cont .banner_search_cont form > div:nth-child(2), .top_banner_cont .banner_search_cont form > div:last-child {
            width: 100%;
        }
        section.site_footer {
            padding-bottom: 0;
        }
        .footer_links_cont {
            margin-top: 0;
        }
        .footer_links_cont div.col-xs-6 {
            border: none !important;
        }
        footer.site_footer:after {
            position: absolute;
            content: "";
            height: 400px;
            bottom: 0;
            left: 0;
            background: #D0E6F3;
            width: 100%;
            z-index: -1;
        }
        .footer_links_cont div.col-xs-6 {
            height: auto !important;
        }
        .site_header .header_btns_cont ul li{
            padding: 0px 3px 0 10px;
        }
        .site_header .header_btns_cont ul li a.header_add_brand_btn{
            right: -77px;
        }
        .site_header .header_btns_cont ul li a.header_add_brand_btn:before{
            margin-left: -18px;
        }
        .site_header .header_btns_cont ul li a{
            vertical-align: top;
        }
        .footer_links_cont h3{
            margin-top: 0px;
        } 
        .footer_links_cont ul li {
            margin-top:0px; 
        }
        .site_header .fix_header.fixed_on_top .header_btns_cont {
            margin-top: 6px;
        }
        .site_header .header_search_cont form input:focus{
            max-width: 167px;
            height: 28px;
        }
        .move_to_next_sec_arrow {
            bottom: -6px;
            margin-left: -17px;
        }
        .home_sec_2_content h1 {
            text-align: center;
        }    
        #home_interactive_map {
            margin-top: -40px;
            margin-bottom: 0px;
        }
        .how_works_steps_cont {
            margin-bottom: 150px;
        }
        #brand_detail .brand_tab.cont {
            float: none;
        }
        .brand_tab a {
            margin-left: 75px;
        }
        .brand_tab_text {
            float: none;
        }
        #brand_detail .first_step:after {
            bottom: -13px;
        }
        #brand_detail .circlegray {
            height: 34px;
            width: 34px;
            padding: 4px;
            margin-right: 5px;
        }
        .move_to_next_sec_arrow a i {
            font-size: 30px;
            margin-left: 2px;
        }
        .site_banner:after {
            background-size: 900px;
        }
        .home_sec_2:after {
            background-size: 900px;
        }
        .home_sec_3:after {
            background-size: 900px;
        }
        .content_body p span {
            word-wrap: break-word;
        }
        .col-md-6.input_class.text-center.brand_tab.back a {
            margin-left: 20px;
            padding: 11px 40px;
        }
        .col-md-6.input_class.brand_tab.sub a {
            float: left;
            margin-left: 0;
            padding: 11px 55px;
            margin-right: 20px;
        }
        .b_sub_btn {
            margin-left: 0;
        }
        .btn.btn_blue {
            margin-top: 10px;
        }
        .page_body.text-left table tr td:first-child {
            padding: 10px 8px 10px 10px;
        }
        .col-md-4.single-product {
            width: 96%;
        }
        td.text-right.order-sec {
            float: left;
        }
        .col-md-4.similarproduct_img {
            margin-right: 0;    
        }
        .product_list_cont .product_box .product_content table.company_content_table tr td:first-child {
            width: 50% !important;
        }
        h1.static_pages_heading {
            font-size: 27px;
        }
        .content_body p {
            font-size: 15px;
        }
        .product_list_cont .product_box .product_img, .product_list_cont .product_box .product_content {
            display: inline-block;
        }
        .content_body h1 {
            font-size: 27px;
        }
        .col-md-12.overview-title h1 {
            font-size: 27px;
        }
        .product_list_cont .product_box .product_content {
            width: 100%;
            padding: 0 5px;
            margin-left: 0;
        }
        .hidden-sm.hidden-lg.hidden-md.product_box_content {
            margin-left: 0;
        }
        .product_list_cont .product_box .product_img, .product_list_cont .product_box .product_content {
            width: 100%;
        }
        .product_list_cont .product_box .product_content h2 {
            font-size: 27px;
        }
        .product_list_cont .product_box .product_content table tr td:first-child {
            width: 50%;
        }
        .product_list_cont .product_box .product_content table tr td:last-child {
            width: 50%;
        }
        .product_list_cont .product_box .product_content table tr {
            text-align: center;
        }
        .input_class {
            margin-top: 22px;
        }
        .input-group {
            margin-top: 22px;
        }
        input#full_name {
            margin-top: 7.5px;
        }
    }
    @media screen and (max-width: 400px) {
        .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
            width: 91%;
        }
    }
    @media screen and (max-width: 384px) {
        body {
            background-position: center bottom 48px;
        }
        .site_header .header_search_cont form input:focus {
            max-width: 147px;
        }
        .home_sec_2 {
            padding-bottom: 16px;
        }
        .brand_tab a {
            margin-left: 58px;
        }
        .brand_tab_text {
            margin-left: 65px;
        }
        .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
            width: 91%;
        }
    }
    @media screen and (max-width: 375px) {
        .footer_links_cont ul li {
            margin-top:-3px; 
        }
        .site_header .header_search_cont form input:focus {
            max-width: 141px;
        }
        .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
            width: 89%;
        }
    }
    @media screen and (max-width: 362px) {
        .footer_links_cont h3 {
            font-size: 20px;
        }
        .footer_links_cont ul li a {
            font: 12px Roboto;
        }
    }
    @media screen and (max-width: 360px) {
        .site_header .fix_header .row > .col-md-4:nth-child(2) {
            margin-top: 2px;
        }
        .site_header .header_search_cont form input:focus{
            max-width: 131px;
        }
        .product_box .brandp {
            padding: 8px 4px !important;
        }
    }
    @media screen and (max-width: 359px) {
        .footer_copy_rights_and_social_btns p {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 340px) {
        .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
            width: 87.5%;
        }
        .product_list_cont .product_box .product_content h2 {
            font-size: 25px;
        }
    }
    @media screen and (max-width: 320px) {
        .site_header .header_btns_cont ul li {
            padding:0px 1px 0 8px;
        }
        .site_header .header_btns_cont ul li .header_add_brand_box a {
            width: 22px;
            height: 22px;
        }
        .header_login_popup:before {
            right: 112px;
        }
        .site_header .header_btns_cont ul li a.header_add_brand_btn {
            right:-81px;
        }
        h1 {
            font-size: 29px;
        }
        .footer_links_cont ul li {
            margin-top:-3px; 
        }
        .left_menu_cont .left_menu_privacy_links_cont .left_menu_privacy_links a:first-child {
            padding-left: 0;
        }
        .left_menu_cont .left_menu_privacy_links_cont .left_menu_privacy_links a:last-child {
            padding-right: 0;
        }
        .left_menu_cont {
            width: 270px;
        }
        .site_header .fix_header.fixed_on_top .header_search_cont{
            margin-right: -28px;
        }
        .site_header .header_search_cont form input:focus{
            max-width: 110px;      
        }
        .left_menu_cont .left_menu_logo_box a h3 {
            font-size: 24px;
        }
        .left_menu_cont ul.left_menu_links_ul {
            padding: 0 0;
        }
        .left_menu_cont ul.left_menu_links_ul li a {
            font-size: 15px;
            padding: 8px 20px 8px;
        }
        .left_menu_cont ul.left_menu_links_ul li a i {
            font-size: 20px;
        }
        .left_menu_cont .left_menu_logo_box {
            margin: 0;
        }
        .left_menu_cont .left_menu_logo_box a h3 {
            font-size: 22px;
        }
        .left_menu_cont .left_menu_privacy_links_cont .left_menu_privacy_links {
            margin-top: 14px;
        }
        .home_sec_2 {
            padding-bottom: 8px;
        }
        .footer_links_cont .footer_newletter_cont input, .footer_links_cont .footer_newletter_cont button {
            height: 30px;
        }
        .similar h1 {
            font-size: 15px;
        }
        .brand_tab a {
            margin-left: 30px;
        }
        .top_banner_cont .banner_search_cont form .banner_search_dropdown_cont {
            width: 87%;
        }
    }

    @keyframes show_sticky_menu {
        0% {
            top: -100%;
        }
        100% {
            top: 0%;
        }
    }