/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2016, 4:49:13 PM
    Author     : Mubeen Ali
*/


.admin_top_filter {

}
.user-panel > .image > img.img-circle {
    width: 45px;
    height: 45px;
}
.admin_top_filter .bootstrap-select.customSelect {
    width: 100%;
}

#google_map {
    margin-top: 20px;
    height:300px;
    width: 100%;
}

.input_gourp_with_multiple_addons {

}
.input_gourp_with_multiple_addons + .input_gourp_with_multiple_addons {
    margin-top: 10px;
}
.registrationFormCont .registrationFormFieldCont .input-group.input_gourp_with_multiple_addons .input-group-addon:not(:first-child) {
    background: none;
    padding: 0;
    border: none;
}
.registrationFormCont .registrationFormFieldCont .input-group.input_gourp_with_multiple_addons .input-group-addon:last-child {
    padding-left: 10px;
}
.registrationFormCont .registrationFormFieldCont .input-group.input_gourp_with_multiple_addons .input-group-addon .customSelect {
    display: block;
    border-radius: 0;
}
.registrationFormCont .registrationFormFieldCont .input-group.input_gourp_with_multiple_addons .input-group-addon .customSelect .btn {
    border-radius: 0;
    border-right: none;
    width: 200px;
}
.registrationFormCont .registrationFormFieldCont .input-group.input_gourp_with_multiple_addons .input-group-addon.dorpdown_text_field_for_others {
    display: none;
}
.registrationFormCont .registrationFormFieldCont .input-group.input_gourp_with_multiple_addons .input-group-addon input[type="text"] {
    width: 170px;
}
.registrationFormCont .registrationFormFieldCont .input-group.input_gourp_with_multiple_addons .input-group-addon .dropdown-menu input[type="text"] {
    width: 100%;
}
.registrationFormCont {

}
.registrationFormCont h1 {
    font-size: 24px;
}
.registrationFormCont label {
    font-size: 16px;
    font-weight: normal;
    margin-top: 8px;
    width: 100%;
}
.registrationFormCont .registrationFormFieldCont .radioBtnCont + .radioBtnCont {
    margin-left: 20px;
}
.registrationFormCont .registrationFormFieldCont .input-group .input-group-addon {
    background: #8aa4af;
}
.registrationFormCont .registrationFormFieldCont .input-group .customSelect {
    z-index: auto;
}
.registrationFormCont .registrationFormFieldCont .input-group .customSelect .dropdown-toggle {
    background: #fff;
    height: 46px;
}
.registrationFormCont .registrationFormFieldCont .input-group .customSelect .dropdown-menu {
    z-index: 3;
}
.input-group .bs-searchbox, .bs-actionsbox {
    margin: 4px 8px 40px;
}

.addPropertyImagesCont {
    display: inline-block;
    margin: 5px;
    position: relative;
    width: 60px;
}
.addPropertyImagesCont img {
    max-width: 100%;
}
.addPropertyImagesCont span {
    cursor: pointer;
    position: absolute;
    right: -7px;
    top: -8px;
}

.companies_action_dropdown.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 120px;
}

.small-box h3 {
    margin: 0 0 65px 0;
}

/******************************Client Side *****************************/
span.size_recommended {
    font: 500 16px Roboto;
    float: right;
}
i.glyphicon.glyphicon-info-sign {
    font-size: 14px;
}
input[type='number'].form-control {
    width: 85px;
    padding: 10px 5px 10px 14px;
}
.same-as-company {
    display: none;
}
body.skin-blue.sidebar-mini.sidebar-collapse .user-panel > .image > img.img-circle{
    width: 30px;
    height: 30px;    
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    min-width: 212px;
}
.sidebar-menu > li > a {
    text-transform: capitalize;
}
.input-group textarea.form-control.input-lg {
    resize: none;
}
.cke_resizer_ltr {
    display: none;
}

.installation_products_view_cont {
    
}
.installation_products_view_cont .installation_products_box {
    padding: 5px 5px 0;
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
}
.installation_products_view_cont .installation_products_box .product_title {
    display: block;
    font-weight: normal;
/*    font-size: 12px;*/
}
.installation_products_view_cont .installation_products_box .product_image {
    display: block;
}
.installation_products_view_cont .installation_products_box .product_image img {
    width: 100%;
    height: 200px;
}