/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2016, 11:16:21 AM
    Author     : Mubeen Ali
*/

/******************************Fonts*****************************/

@font-face{font-family: Roboto;src: url('../fonts/roboto_regular.woff');font-weight: 400;}
@font-face{font-family: Roboto;src: url('../fonts/roboto_light.woff');font-weight: 300;}
@font-face{font-family: Roboto;src: url('../fonts/roboto_medium.woff');font-weight: 500;}
@font-face{font-family: RobotoCondensed;src: url('../fonts/roboto_bold_condensed.woff');font-weight: 700;}

/******************************Genral*****************************/

body {
    margin: 0;
    padding: 0;
    font: 20px Roboto;
    /*background: url('../images/footer_bg.jpg') no-repeat center bottom 40px #f5f5f5;*/
    background: url('../images/footer_bg.jpg') no-repeat center bottom -50px;
}
img {
    border: none;
    max-width: 100%;
}
img:focus, a:focus {
    outline: none;
}
h1 {
    font: 40px Roboto;
    color: #616161;
    position: relative;
}
h1:after {
    content: "";
    background: #3f51b5;
    height: 2px;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
}
h2 {
    font: 50px Roboto;
    color: #fff;
}
h2.blue {
    color: #3f51b5;
}
h3 {
    font: 30px Roboto;
    color: #616161;
}
.pages_content h3 {
    margin: 40px 0 30px;
}
h4 {
    color: #000000;
    font-size: 30px;
    font-family: OpenSans-Semibold;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h5 {
    color: #000000;
    font-size: 20px;
    font-family: OpenSans-Regular;
    text-transform: uppercase;
}
p {
    font: 18px / 38px Roboto;
}

.btn {
    font: 16px Roboto;
    color: #3f51b5;
    padding: 8px 50px 9px;
    border-radius: 6px;
    background: #f5f5f5;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

/******************************Left Menu*****************************/

.invisible_layer_on_body {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
.site_content {
    transform: translateX(0px);
    transition: 0.3s;
    position: relative
}
.left_menu_cont {
    position: fixed;
    left: -200px;
    min-height: 100vh;
    width: 200px;
    background: #fff;
    z-index: 102;
    transition: 0.3s;
}
.left_menu_cont ul {
    list-style: none;
    padding: 20px 0;
}
.left_menu_cont ul li {
    border-bottom: 1px solid #74808a;
}
.left_menu_cont ul li a {
    color: #74808a;
    padding: 10px 20px 8px;
    display: block;
    transition: 0.3s;
}
.left_menu_cont ul li a:hover {
    background: #ffc107;
    text-decoration: none;
    color: #fff;
}
.left_menu_cont ul li a i {
    vertical-align: top;
}

.show_main_menu {
    overflow: hidden;
}
.show_main_menu .invisible_layer_on_body {
    opacity: 1;
    pointer-events: auto;
}
.show_main_menu .site_content {
    transform: translateX(50px);
}
.show_main_menu .left_menu_cont {
    left: 0;
}

/******************************Header*****************************/
.site_banner {
    /*background: url('../images/banner.jpg') center top / auto 100%;*/
    /*padding-top: 10px;*/
    position: relative;
    padding-bottom: 92px;
    min-height: 95vh;
}
.site_header .fix_header {
    position: absolute;
    width: 100%;
    z-index: 100;
    /*transition: 0.3s;*/
    /*background: url('../images/header-background.png') center bottom 200px repeat-x;*/
}
.site_header .fix_header.fixed_on_top {
    /*background-position: center bottom;*/
    background: url('../images/header-background.png') center bottom repeat-x;
    height: 136px;
    position: fixed;
    animation: 0.3s show_sticky_menu;
}
.site_header a {
    color: #fff;
}
.site_header .fix_header.fixed_on_top a {
    color: #616161;
}
.site_header .header_menu_cont {
    margin-top: 52px;
    transition: 0.3s;
}
.site_header .header_logo_cont {
    text-align: center;
    transition: 0.3s;
}
.site_header .header_logo_cont a {
    transition: 0.3s;
}
.site_header .header_logo_cont a:last-child {
    display: none;
    margin-top: 6px;
}
.site_header .header_btns_cont {
    text-align: right;
    margin-top: 46px;
    transition: 0.3s;
}
.site_header .header_btns_cont ul {

}
.site_header .header_btns_cont ul li {
    display: inline-block;
    padding: 0px 12px 0 10px;
    position: relative;
    vertical-align: middle;
}
.site_header .header_btns_cont ul li + li {
    border-left: 1px solid #fff;
}
.site_header .header_btns_cont ul li:last-child {
    border: none;
    padding-left: 0;
}
.site_header .header_btns_cont ul li a {
    display: inline-block;
    vertical-align: middle;
}
.site_header .header_btns_cont ul li .header_add_brand_box a {
    background: #ffc107;
    border-radius: 130px;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    text-align: center;
    color: #fff;
}
.site_header .header_btns_cont ul li select {
    color: #fff;
    background: transparent;
    font: 18px Roboto;
    border: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}
.site_header .header_btns_cont ul li select::-ms-expand {
    display: none;
}
.site_header .header_btns_cont ul li select option {
    color: #000;
}

.site_header .header_btns_cont ul li .bootstrap-select {
    width: 62px;
}
.site_header  .header_btns_cont ul li .bootstrap-select .btn {
    padding: 0 22px 0 0;
    display: inline-block;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    color: #fff;
}
.site_header .header_btns_cont ul li .bootstrap-select li {
    display: block;
    padding: 0;
}
.site_header .header_btns_cont ul li .bootstrap-select li a {
    display: block;
}
.site_header .fix_header.fixed_on_top .header_btns_cont ul li .bootstrap-select .btn {
    color: #616161;
}

.move_to_next_sec_arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    z-index: 1;
}
.move_to_next_sec_arrow a {
    color: #fff;
}
.move_to_next_sec_arrow a i {
    font-size: 40px;
}


.site_header .fix_header.fixed_on_top .header_menu_cont {
    margin-top: 30px;
}
.site_header .fix_header.fixed_on_top .header_logo_cont a:first-child {
    display: none;
}
.site_header .fix_header.fixed_on_top .header_logo_cont a:last-child {
    display: block;
}
.site_header .fix_header.fixed_on_top .header_btns_cont {
    margin-top: 28px;
}
.site_header .fix_header.fixed_on_top .header_btns_cont ul li + li  {
    border-color: #616161;
}
.site_header .fix_header.fixed_on_top .header_btns_cont ul li select {
    color: #616161;
}


.header_login_popup {
    background: #3f51b5;
    width: 300px;
    padding: 10px 20px;
    position: absolute;
    right: -10px;
    border-radius: 8px;
    margin-top: 18px;
    display: none;
}
.header_login_popup:before {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #3f51b5;
    top: -15px;
    right: 20px;
}
.header_login_popup span {
    margin: 6px 0;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}
.header_login_popup span i {
    position: absolute;
    right: 5px;
    top: 8px;
    color: #74808a;
}
.header_login_popup span input {
    width: 100%;
    background: #fff;
    border-radius: 8px;
    color: #74808a;
    font: 16px Roboto;
    padding: 8px 12px;
    border: none;
}
.header_login_popup span input[type="submit"] {
    background: #ffc107;
    color: #fff;
}
.header_login_popup span a {
    text-decoration: underline;
}


.site_header .header_btns_cont ul li a.header_add_brand_btn {
    background: #3f51b5;
    padding: 10px 20px;
    position: absolute;
    right: -56px;
    border-radius: 8px;
    margin-top: 18px;
    font: 16px Roboto;
    width: 180px;
    text-align: center;
    display: none;
    color: #fff;
}
.site_header .header_btns_cont ul li a.header_add_brand_btn:before {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #3f51b5;
    top: -15px;
    left: 50%;
    margin-left: -8px;
}
.site_header .header_btns_cont ul li a.header_add_brand_btn i {
    color: #ffc107;
    vertical-align: inherit;
    margin-left: -8px;
}


/******************************Banner*****************************/

.site_banner:after {
    content: "";
    width: 100%;
    height: 52px;
    background: url('../images/banner_bottom_layer.png') center;
    position: absolute;
    bottom: 0;
}
.site_banner .banner_img_or_vid_cont {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    text-align: center;
    background: url('../images/banners/banner_1.jpg') center top / cover;
}
.site_banner .banner_img_or_vid_cont div {
    position: relative;
    width: 100%;
    height: 100%;
    background: orange;
    text-align: center;
}
.site_banner .banner_img_or_vid_cont img {
    min-width: 100%;
    min-height: 100%;
    max-width: inherit;
}
.top_banner_cont {
    text-align: center;
    margin-top: 180px;
    position: relative;
}
.top_banner_cont h1 {
    font: 700 74px RobotoCondensed;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.top_banner_cont h1:after {
    display: none;
}
.top_banner_cont h2 {
    font: 30px Roboto;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.top_banner_cont p {
    color: #fff;
}
.top_banner_cont .banner_search_and_detect_btn_cont {
    display: table;
    max-width: 970px;
    margin: 28px auto 0;
}
.top_banner_cont .banner_search_and_detect_btn_cont .detect_location_btn_cont, .top_banner_cont .banner_search_and_detect_btn_cont .banner_search_cont {
    display: table-cell;
    vertical-align: middle;
}
.top_banner_cont .banner_search_and_detect_btn_cont .detect_location_btn_cont {
    width: 70px;
    padding-right: 15px;
}
.top_banner_cont .banner_search_and_detect_btn_cont .detect_location_btn_cont a {
    background: #3f51b5;
    color: #fff;
    padding: 14px 15px 8px;
    border-radius: 8px;
    display: inline-block;
}
.top_banner_cont .banner_search_and_detect_btn_cont .banner_search_cont {
    width: 900px;
}
.top_banner_cont .banner_search_cont {
    max-width: 970px;
    /*margin: 28px auto 0;*/
    margin: 0 auto 0;
    border: 1px solid #ffc107;
    background: #fff;
    border-radius: 8px;
    /*overflow: hidden;*/
}
.top_banner_cont .banner_search_cont form {
    display: table-row;
}
.top_banner_cont .banner_search_cont form > div {
    display: table-cell;
    width: 300px;
    vertical-align: top;
}
.top_banner_cont .banner_search_cont form > div:nth-child(2) {
    width: 600px;
}
.top_banner_cont .banner_search_cont form > div:last-child {
    width: 120px;
    overflow: hidden;
}
.top_banner_cont .banner_search_cont input, .top_banner_cont .banner_search_cont button {
    width: 100%;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: 56px;
    font: 18px Roboto;
}
.top_banner_cont .banner_search_cont input {
    padding: 0 20px;
    color: #74808a;
}
.top_banner_cont .banner_search_cont button.search_submit_btn {
    background: transparent;
    border: none;
}
.top_banner_cont .banner_search_cont button.btn {
    padding: 0 20px;
    color: #74808a;
    border-right: 1px solid #959ea6;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 0 1px #959ea6;
}
.top_banner_cont .banner_search_cont button.search_submit_btn i {
    vertical-align: middle;
}
.top_banner_cont .banner_search_cont button.search_advance_filter_btn {
    background: #ffc107;
    color: #3f51b5;
    font: 500 20px Roboto;
}
.top_banner_cont .banner_water_types_cont {
    max-width: 800px;
    margin: 40px auto 0;
    text-align: left;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box {
    display: table-row;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box > div {
    display: table-cell;
    width: 118px;
    vertical-align: middle;
    padding: 0 5px;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box > div:last-child {
    width: 300px;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box > div h3 {
    color: #fff;
    font: 300 21px Roboto;
    margin: 0;
}
.top_banner_cont .banner_water_types_cont .banner_water_type_box > div p {
    color: #fff;
    font: 13px Roboto;
}

/******************************Content*****************************/

.home_sections_cont > section, .home_sections_cont > footer {
    /*min-height: 100vh;*/
    width: 100%;
    position: relative;
    /*background: center top / auto 100%;*/
}

/******************************Sec 2*****************************/

.home_sec_2 {
    background: url('../images/sec_2_bg.jpg') center top / auto 100%;
    padding: 60px 0 90px;
}
.home_sec_2_content {
    margin-top: 20px;
}
.home_sec_2_content ul {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
}
.home_sec_2_content ul li {
    margin-bottom: 20px;
}
.home_sec_2_content ul li a {
    color: #616161;
    font: 22px Roboto;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}
.home_sec_2_content ul li a:hover, .home_sec_2_content ul li a.active {
    font-weight: 700;
    color: #3f51b5;
    text-decoration: none;
}
.home_sec_2_content ul li a span {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
    border-radius: 200px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #818c95;
}
.home_sec_2_content ul li a span img {
    margin: 6px 0 0;
    max-height: 48px;
}
.home_uae_map_cont img {
    margin-top: 80px;
}

/******************************Sec 2*****************************/

.home_sec_3 {
    background: url('../images/sec_3_bg.jpg') center top / auto 100%;
    padding: 100px 0;
}

.home_suppliers_logos_cont {
    text-align: center;
    margin-top: 30px;
}
.home_suppliers_logos_cont .home_suppliers_logo_box {
    width: 164px;
    height: 72px;
    background: #fff;
    display: inline-block;
    margin: 10px;
    border: 1px solid #74808a;
}
.home_suppliers_logos_cont .home_suppliers_logo_box .home_suppliers_logo_box_inner {
    width: 164px;
    height: 72px;
    background: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
}

.home_sec_3_btn_cont {
    text-align: center;
    margin-top: 44px;
}


/******************************Footer*****************************/

.site_footer {
    /*background: url('../images/sec_4_bg_11.jpg') center top / auto 100%;*/
    /*padding: 45px 0 0;*/
    padding-bottom: 25px;
}
section.site_footer {
    padding: 45px 0 166px;
}

.how_works_steps_cont {
    text-align: center;
    margin-top: 42px;
}
.how_works_steps_cont .how_works_step_box {
    padding: 0 20px;
}
.how_works_steps_cont .how_works_step_box .image_cont {

}
.how_works_steps_cont .how_works_step_box .image_cont .image {
    height: 122px;
    width: 122px;
    display: inline-block;
    background: #ffc107;
    border-radius: 150px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
}
.how_works_steps_cont .how_works_step_box .image_cont .image i {
    font-size: 74px;
    margin-top: 24px;
    color: #fff;
}
.how_works_steps_cont .how_works_step_box .how_works_content h3 {
    font: 30px Roboto;
    color: #616161;
}
.how_works_steps_cont .how_works_step_box .how_works_content p {
    font: 18px/35px Roboto;
    color: #616161;
}

.footer_links_cont {
    margin: 45px 0 40px;
}
.footer_links_cont h3 {
    color: #74808a;
    margin-bottom: 10px;
}
.footer_links_cont ul {
    padding: 0;
    list-style: none;
}
.footer_links_cont ul li {

}
.footer_links_cont ul li a {
    font: 16px Roboto;
    color: #74808a;
}
.footer_links_cont p {
    font: 14px Roboto;
    color: #74808a;
}

.footer_links_cont .footer_newletter_cont {
    border-radius: 6px;
    overflow: hidden;
    margin-top: 32px;
}
.footer_links_cont .footer_newletter_cont form {
    display: table-row;
}
.footer_links_cont .footer_newletter_cont div {
    display: table-cell;
    width: 700px;
    vertical-align: top;
}
.footer_links_cont .footer_newletter_cont div:last-child {
    width: 78px;
}
.footer_links_cont .footer_newletter_cont input, .footer_links_cont .footer_newletter_cont button {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    height: 38px;
    font: 18px Roboto;
}
.footer_links_cont .footer_newletter_cont input {
    padding: 0 20px;
    color: #74808a;
    background: #fff;
}
.footer_links_cont .footer_newletter_cont button {
    background: #3f51b5;
    border: none;
    color: #fff;
}
.footer_links_cont .footer_newletter_cont button i {
    vertical-align: middle;
}

.footer_copy_rights_and_social_btns {
    background: #3f51b5;
    padding: 1px 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer_copy_rights_and_social_btns p {
    color: #fff;
    margin: 2px 00;
}
.footer_copy_rights_and_social_btns .footer_social_links {
    text-align: right;
    padding-top: 4px;
}
.footer_copy_rights_and_social_btns .footer_social_links a {
    display: inline-block;
}
.footer_copy_rights_and_social_btns .footer_social_links a + a {
    margin-left: 5px;
}

/******************************Media Queries*****************************/

.site_banner.site_banner_inner {
    background: url('../images/banners/banner.jpg') center top;
    padding-bottom: 70px;
}
.site_banner.site_banner_inner .inner_top_banner_cont {
    /*margi*/
}

/******************************Media Queries*****************************/

@media screen and (max-width: 991px) {

}

@keyframes show_sticky_menu {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}